<div class="scroll-for-tiny">
	<div class="scrollable-pane">
		<table class="size-chart">
			<thead>
				<tr>
					<th>Size</th>
					<th>Volley Sock Length (cm )</th>
					<th>Target Sock Length (cm )</th>
				</tr>
			<tbody>
				<tr class="even">
					<td>1</td>
					<td>11</td>
					<td>11</td>
				</tr>
				<tr class="odd">
					<td>2</td>
					<td>12</td>
					<td>12</td>
				</tr>
				<tr class="even">
					<td>3</td>
					<td>12.5</td>
					<td>12.5</td>
				</tr>
				<tr class="odd">
					<td>4</td>
					<td>13.5</td>
					<td>13.5</td>
				</tr>
				<tr class="even">
					<td>5</td>
					<td>14</td>
					<td>14</td>
				</tr>
				<tr class="odd">
					<td>6</td>
					<td>14.5</td>
					<td>14.5</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
