<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Size Aus</th>
                    <th>16</th>
                    <th>18</th>
                    <th>20</th>
                    <th>22</th>
                    <th>24</th>
                    <th>26</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Bust (CM)</td>
                    <td>110</td>
                    <td>115</td>
                    <td>120</td>
                    <td>125</td>
                    <td>130</td>
                    <td>135</td>
                </tr>
                <tr class="odd">
                    <td>Waist (CM)</td>
                    <td>95</td>
                    <td>100</td>
                    <td>105</td>
                    <td>110</td>
                    <td>115</td>
                    <td>120</td>
                </tr>
                <tr class="even">
                    <td>Hips (CM)</td>
                    <td>116</td>
                    <td>121</td>
                    <td>126</td>
                    <td>131</td>
                    <td>136</td>
                    <td>141</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>