<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Size Aus</th>
                    <th>8</th>
                    <th>10</th>
                    <th>12</th>
                    <th>14</th>
                    <th>16</th>
                    <th>18</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Bust (CM)</td>
                    <td>82</td>
                    <td>87</td>
                    <td>92</td>
                    <td>97</td>
                    <td>102</td>
                    <td>107</td>
                </tr>
                <tr class="odd">
                    <td>Waist (CM)</td>
                    <td>63</td>
                    <td>68</td>
                    <td>73</td>
                    <td>78</td>
                    <td>83</td>
                    <td>88</td>
                </tr>
                <tr class="even">
                    <td>Hips (CM)</td>
                    <td>88</td>
                    <td>93</td>
                    <td>98</td>
                    <td>103</td>
                    <td>108</td>
                    <td>113</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>