<h4>Women's - Maternity</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Size Aus</th>
                    <th>8</th>
                    <th>10</th>
                    <th>12</th>
                    <th>14</th>
                    <th>16</th>
                    <th>18</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Bust (CM)</td>
                    <td>86</td>
                    <td>91</td>
                    <td>96</td>
                    <td>101</td>
                    <td>106</td>
                    <td>111</td>
                </tr>
                <tr class="odd">
                    <td>Waist (CM)</td>
                    <td>77</td>
                    <td>82</td>
                    <td>87</td>
                    <td>92</td>
                    <td>97</td>
                    <td>102</td>
                </tr>
                <tr class="even">
                    <td>Hips (CM)</td>
                    <td>92</td>
                    <td>97</td>
                    <td>102</td>
                    <td>107</td>
                    <td>112</td>
                    <td>117</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>