<p>We respect your privacy, but please be aware that the information you provide will be kept and used:</p>
<ul>
    <li>To contact you about your order</li>
    <li>To fulfil your order, including giving to 3rd parties we use.</li>
</ul>