<?page title="" contentType="text/html;charset=UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>

<window title="${c:l('cscockpit.widget.card.payment')}" border="normal" position="center" closable="true">
<div id="paymentresponse" class="paymentresponse" style="font-family: Arial,non-serif;font-size:12px;color:red"></div>
<iframe id="myiframe" name="myiframe" style="visibility:hidden;display:none">
</iframe>
<div id="hostedPaymentFormContainer" class="hostedPaymentFormContainer" style="margin:10px;"></div>
</window>


