<link rel="stylesheet" type="text/css" href="css/email.css">

#set ( $base = ${ctx.get("parentContext")})

<tr>
	<td>
		<h4>Target Online</h4><br />
		<a href="${base.emailBaseUrl}">${base.baseUrlDisplay}</a></p>
	</td>
</tr>
<tr>
	<td class="gap"></td>
</tr>