<link rel="stylesheet" type="text/css" href="css/order-email.css">

#set ( $base = ${ctx.get("parentContext")})

<tr class="info">
    <td>
        <span class="bold">Returns & Exchanges:</span>
    </td>
</tr>
<tr class="info">
    <td>
        <p>You can return or exchange within 28 days of purchase at your local <a href="${base.emailBaseUrl}/store-finder">Target store</a>. <br />Returned items must be unused, in original condition with tags/packaging with original proof of purchase. </p>
        <p>Return your purchase via post by contacting our Customer Support Centre on ${base.targetContactNumber} to obtain a FREE Australia Post return label. </p>
        <p>We do not allow returns or exchanges on gift cards purchased online except where the item is faulty or is not of acceptable quality.</p>
        <p>For more information on returns, refunds and our refund policy see <span class="returns-link bold"><a href="${base.baseUrlDisplay}/help/refunds-returns">${base.baseUrlDisplay}/help/refunds-returns</a></span>. </p>
        <p>Should a refund or exchange be declined, we reserve the right to charge you for any postage costs incurred.</p>
    </td>
</tr>
