<link rel="stylesheet" type="text/css" href="css/email.css">

#set ( $order = ${ctx.get("parentContext").order})

#if($order.deliveryAddress)
<tr>
	<td>
		#if($order.cncStoreNumber)
			<h4>Pickup from</h4>
		#else
			<h4>Delivery Address</h4>
		#end
		<table class="apple-links">
			<tr>
				<td>
					<table>
						<tr>
							<td>
								#if($order.cncStoreNumber)
									<span>${ctx.get("parentContext").selectedStore.type} &ndash; ${ctx.get("parentContext").selectedStore.name}</span>
								#else
									<span>#if($order.deliveryAddress.title && $order.deliveryAddress.title != "")$order.deliveryAddress.title#end $order.deliveryAddress.firstName $order.deliveryAddress.lastName</span>
								#end
							</td>
						</tr>
						#if(${ctx.get("parentContext").selectedStore.targetAddressData.building})
							<tr>
								<td><span>${ctx.get("parentContext").selectedStore.targetAddressData.building}</span></td>
							</tr>
						#end
						<tr>
							<td><span>$order.deliveryAddress.line1</span></td>
						</tr>
						#if($order.deliveryAddress.line2 && $order.deliveryAddress.line2 != "")
							<tr>
								<td><span>$order.deliveryAddress.line2</span></td>
							</tr>
						#end
						<tr>
							<td><span>$order.deliveryAddress.town $order.deliveryAddress.state $order.deliveryAddress.postalCode</span></td>
						</tr>
						<tr>
							<td><span>$order.deliveryAddress.country.name</span></td>
						</tr>
						#if($order.deliveryAddress.phone && !$order.cncStoreNumber)
							<tr>
								<td><span>Phone number: $order.deliveryAddress.phone</span></td>
							</tr>
						#elseif( $order.cncStoreNumber && ${ctx.get("parentContext").selectedStore.targetAddressData.phone} )
							<tr>
								<td><span>${ctx.get("parentContext").selectedStore.targetAddressData.phone}</span></td>
							</tr>
						#end
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="gap"></td>
</tr>
#end

#if($order.cncStoreNumber)
	<tr>
		<td>
			<h4>Contact Details</h4>
			<table width="100%" class="inf">
				<tr>
					<td>
						<table>
							<tr>
								<td><span>#if($order.deliveryAddress.title && $order.deliveryAddress.title != "")$order.deliveryAddress.title#end $order.deliveryAddress.firstName $order.deliveryAddress.lastName</span></td>
							</tr>
							#if($order.deliveryAddress.phone)
								<tr>
									<td><span>Phone number: $order.deliveryAddress.phone</span></td>
								</tr>
							#end
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="gap"></td>
	</tr>
#end

#if($order.hasDigitalProducts)
	<tr>
		<td>
			<h4>e-Gift Card Delivery</h4>
			<table width="100%" class="inf">
				<tr>
					<td>Your e-Gift Cards will be sent directly to your recipient email address(es).</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="gap"></td>
	</tr>
#end


#if($order.hasPhysicalGiftCards)
	<tr>
		<td>
			<h4>Gift Card Delivery</h4>
			<table width="100%" class="inf">
				<tr>
					<td>Your physical gift cards will be sent to the specified delivery address in a separate parcel via registered post.</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="gap"></td>
	</tr>
#end
