## messageSource=classpath:/tgtwebcore/messages/email-orderNotification_en.properties
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

#if(${ctx.order.cncStoreNumber})
	#set( $deliveryDisplay = ${ctx.order.deliveryMode.name} + " order")
#else
	#set( $deliveryDisplay = "order" )
#end

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="css/order-email.css">
	</head>
	<body>
		<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">

			<tr>
				<td>
					<!--[if (gte mso 9)]><table width="600" align="center"><tr><td><![endif]-->

					<table align="center" class="max bc">

						${ctx.cmsSlotContents.EmailHeaderContentSlot}

						${ctx.cmsSlotContents.EmailMarketingContentSlot1}

                        <tr class="info">
                            <td class="greeting-text">
                            #if($ctx.consignment && $ctx.consignment.isDigitalDelivery == true)
                                ${ctx.messages.getMessage('orderShippingNoticeGreetingTextForEDelivery', ${ctx.displayName})}
                            #else
                                ${ctx.messages.getMessage('orderShippingNoticeGreetingText', ${ctx.displayName})}
                            #end
                            </td>
                        </tr>
                        <tr class="info">
                            <td class="gap">
                            </td>
                        </tr>
                        #if(!${ctx.order.ebayOrder} && !${ctx.order.guestCustomer})
                            <tr class="info">
                                 <td class="login-text">
                                <a class="link" href="${ctx.emailBaseUrl}/my-account">Login</a> anytime to check the status of your order.
                                </td>
                            </tr>
                        #end


                        ${ctx.cmsSlotContents.EmailContentSlot1}

                        #if(${ctx.quantitiesInOrder} > 1 && ($ctx.order.deliveryMode.code eq 'home-delivery' ||
                            $ctx.order.deliveryMode.code eq 'eBay-delivery'  ))
                            <tr class="info">
                                <td class="text-highlighter">
                                 ${ctx.messages.getMessage('multipleItemsDeliveryText')}
                                </td>
                             </tr>
                        #end

                        <tr class="info">
                            <td class="gap"> </td>
                        </tr>
                        <tr class="info">
                             <td class="gap"> </td>
                        </tr>

						${ctx.cmsSlotContents.EmailContentSlot2}

                        <tr class="info">
                            <td class="gap"> </td>
                        </tr>
                        <tr class="info">
                            <td>
                                #if($ctx.order.cncStoreNumber)
                                    ${ctx.messages.getMessage('taxInvoiceReceiveTextCnC')}
                                #else
                                    ${ctx.messages.getMessage('taxInvoiceReceiveTextForDelivery')}
                                #end
                            </td>
                        </tr>
                        <tr class="info">
                            <td class="gap">
                            </td>
                        </tr>

						${ctx.cmsSlotContents.EmailContentSlot3}

						${ctx.cmsSlotContents.EmailMarketingContentSlot2}

					</table>
					
					<!--[if (gte mso 9)]></td></tr></table><![endif]-->
				</td>
			</tr>
		</table>
	</body>
</html>

