<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="css/email.css">
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
		<tr>
			<td>
				<!--[if (gte mso 9)]><table width="600" align="center"><tr><td><![endif]-->

				<table align="center" class="max bc">

					${ctx.cmsSlotContents.EmailHeaderContentSlot}

					${ctx.cmsSlotContents.EmailMarketingContentSlot1}

					<tr>
						<td>
							<p>Hi ${ctx.displayName},</p>
							<h1>Your email address has been successfully updated.</h1>
							<p>Use this updated email address when you next log in.</p>
							<p>If you did not send this request, please contact Customer Support on <span class="nw">${ctx.targetContactNumber}</span> (Monday to Friday 9am-7pm AEDT and Saturday 9am-5pm AEDT) or <a href="mailto:${ctx.targetContactEmail}">${ctx.targetContactEmail}</a>.</p>
							<h4>Thanks,</h4>
						</td>
					</tr>

					${ctx.cmsSlotContents.EmailContentSlot1}

					${ctx.cmsSlotContents.EmailContentSlot2}

					${ctx.cmsSlotContents.EmailContentSlot3}

					${ctx.cmsSlotContents.EmailMarketingContentSlot2}
				</table>

				<!--[if (gte mso 9)]></td></tr></table><![endif]-->
			</td>
		</tr>
	</table>
</body>
</html>