<link rel="stylesheet" type="text/css" href="css/email.css">

#set ( $order = ${ctx.get("parentContext").order})

<tr>
	<td>
		<h3>Order Information</h3>
		<table>
			<tr>
				<td>
					<span class="small"><strong>Order Number: </strong></span><span class="large">$order.code&#x200b;</span><br/>
					#if($order.tradeMeOrder)
						<span class="small"><strong>Trade Me Order ID: </strong></span><span class="large">$order.eBayOrderNumber&#x200b;</span><br/>
					#end
					#if($order.ebayOrder)
						<span class="small"><strong>eBay Order ID: </strong></span><span class="large">$order.eBayOrderNumber&#x200b;</span><br/>
					#end
					<span class="small"><strong>Delivery Method: </strong></span><span class="large">$order.deliveryMode.name</span><br/>
					#if(!$order.tradeMeOrder)
						<span class="small"><strong>Order Date / Time: </strong></span><span class="large">${ctx.get("parentContext").orderDateDisplay}</span>
					#end
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="gap"></td>
</tr>