<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="css/email.css">
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">

		<tr>
			<td>
				<!--[if (gte mso 9)]><table width="600" align="center"><tr><td><![endif]-->

				<table align="center" class="max bc">

					${ctx.cmsSlotContents.EmailHeaderContentSlot}

					${ctx.cmsSlotContents.EmailMarketingContentSlot1}

					<tr>
						<td class="bc">
							<p>Hi ${ctx.displayName},</p>
							<h1>Your order has been cancelled.</h1>
							<p>Your order has been successfully cancelled.</p>
							<p>The payment of ${ctx.refundAmount.formattedValue} #if(${ctx.order.flybuysDiscountData} && ${ctx.order.flybuysDiscountData.value.value} > 0)plus any flybuys points#end taken for Order #${ctx.order.code} is in the process of being returned to you. Please allow up to seven business days for this process to be finalised.</p>
							<p>If you have any questions contact Customer Support on <span class="nw">${ctx.targetContactNumber}</span> (Monday to Friday 9am-7pm AEDT and Saturday 9am-5pm AEDT)  or <a href="mailto:${ctx.targetContactEmail}">${ctx.targetContactEmail}</a>.</p>
							<h4>Thanks,</h4>
						</td>
					</tr>

					${ctx.cmsSlotContents.EmailContentSlot1}

					${ctx.cmsSlotContents.EmailContentSlot2}

					${ctx.cmsSlotContents.EmailContentSlot3}

					${ctx.cmsSlotContents.EmailMarketingContentSlot2}

				</table>

				<!--[if (gte mso 9)]></td></tr></table><![endif]-->
			</td>
		</tr>
	</table>
</body>
</html>