/* Base Colour changes */
.target .page-header td.page-header-right img { visibility: hidden; }
.target table.toolbar { background-color: #333333;}

/* Red based header */
.target-prod .page-header td { background:#ba0000 none;}
.target-prod .page-header td.page-header-right { background:#ba0000 url('../ext/tgtcore/images/target-logo-red.png') no-repeat right 50%;}

/* White based header */
.target-pre-release .page-header td { background:#fff none; color:#000;}
.target-pre-release .page-header td.page-header-right { background:#fff url('../ext/tgtcore/images/target-logo-white.png') no-repeat right 50%;}

/* Titles 
.target-pre-release .page-header td.page-header-left { background:#fff url('../ext/tgtcore/images/target-title-not-prod.png') no-repeat left 20px;}
.target-prod .page-header td.page-header-left { background:#ba0000 url('../ext/tgtcore/images/target-title-prod.png') no-repeat left 20px;}
*/