.loginContainerWindow {
	background-image: url(../images/login_y_cockpit.png);
}

/* Confirm new address popup */
.csConfirmAddressWidgetFrame .csWidgetCaption { display: none; }
.csConfirmAddressWidgetFrame .csWidgetContent { display: 10px; display: table; }
.csConfirmAddressWidgetFrame .csWidgetContent span { display: table-row; text-align: left; }
.csConfirmAddressWidgetFrame .csWidgetContent table.z-button { margin: 10px auto; }

/* Full cancel popup */
.csFullCancelPopup .cancellationOrderButtonBox { float: right; padding: 5px 10px 5px 0; text-align: right; }
.csFullCancelPopup .addPaymentButtonBox { float: left; padding: 5px 10px 5px 0; text-align: right; }
.csPartialCancelPopup .editorWidgetEditor { padding-top: 0px;}
.csPartialCancelPopup .cancellationOrderButtonBox { padding-top: 0px; text-align: right; }


/* Order Management Fraud status popup */

.csFraudStatusPopup .csWidgetCaption { display: none; }
.csFraudStatusPopup .csWidgetContent { padding: 5px 10px; }


.tgtcs_sectionRowComponent {
	float:left;
	width: 100%;
	padding: 0px 16px 5px;
}
.tgtcs_seperate_line {
	float:left;
	border-top: 1px solid #EEEEEE; 
	padding: 6px 6px 7px 7px; 
	width:100%;
}

.tgtcs_radio_group{
	float:left;
	width:30%
}

.radio_label{
	float:left;
	width: 45%;
    text-align: left;
    padding: 0px 5px;
}

.tgtcs_input_tip {
    padding-left: 5px;
    font-style: italic;
}

.csContentArea .checkoutCartWidget .csCartLineActions .tgtcsRemoveItem{
	color: red;
	display: inline-block;
	font-size: 120%;
    font-weight: 700;
    margin-top: 7px;
}

.selectCnCStore .error{
	color: red;
}

.selectCnCStore .subheading{
    font-weight: bold;
}

.csMainContent .csWidgetContent { padding: 5px 0; text-align: left; }
.csMainContent .basketCartWidget .mainWidgetComponent .csWidgetContent span.z-label,
.csMainContent .basketLaybyCartWidget .mainWidgetComponent .csWidgetContent span.z-label { padding-left: 10px; }
.csMainContent .basketLongTermLaybyCartWidget .mainWidgetComponent .csWidgetContent span.z-label { padding-left: 10px; }
.csMainContent .basketCartWidget .mainWidgetComponent .csWidgetContent .csToolbarLeftButtons span.z-label,
.csMainContent .basketLaybyCartWidget .mainWidgetComponent .csWidgetContent .csToolbarLeftButtons span.z-label { padding-left: 0; }
.csMainContent .basketLongTermLaybyCartWidget .mainWidgetComponent .csWidgetContent .csToolbarLeftButtons span.z-label {
padding-left: 0; }

.csContentArea .selectedFacetsContainer .csResetFacetsButton { display: block; text-align: right; color: #B00707; padding-top: 5px; font-size: 11px;}
.csContentArea .selectedFacetsContainer .csResetFacetsButton:HOVER { text-decoration: underline; }
.csContentArea .basketCartWidget .csPlainBtn,
.csContentArea .basketLaybyCartWidget .csPlainBtn { display: inline-block; background: #17a017; padding: 3px; color: white !important; font-size: 9px; }
.csContentArea .basketLongTermLaybyCartWidget .csPlainBtn { display: inline-block; background: #17a017; padding: 3px; color:
white !important; font-size: 9px; }
.csContentArea .basketCartWidget .csPlainBtn:HOVER,
.csContentArea .basketLaybyCartWidget .csPlainBtn:HOVER { background: #275cd1; text-decoration: none; }
.csContentArea .basketLongtermLaybyCartWidget .csPlainBtn:HOVER { background: #275cd1; text-decoration: none; }

.csContentArea .basketCartWidget .csCartSummary,
.csContentArea .basketLaybyCartWidget .csCartSummary { background: #eee; margin: 0; padding: 5px 25px 5px 0; border: 0; text-align: right; }
.csContentArea .basketLongTermLaybyCartWidget .csCartSummary { background: #eee; margin: 0; padding: 5px 25px 5px 0; border: 0;
text-align: right; }
.csContentArea .basketCartWidget .csCartSummary span.csCartPriceRow,
.csContentArea .basketLaybyCartWidget .csCartSummary span.csCartPriceRow { display: block; text-align: right; padding-top: 0.5em; height: 1.5em; }
.csContentArea .basketLongTermLaybyCartWidget .csCartSummary span.csCartPriceRow { display: block; text-align: right;
padding-top: 0.5em; height: 1.5em; }
.csContentArea .basketCartWidget .csCartSummary span.csCartPriceRow span,
.csContentArea .basketLaybyCartWidget .csCartSummary span.csCartPriceRow span { color: #666; }
.csContentArea .basketLongTermLaybyCartWidget .csCartSummary span.csCartPriceRow span { color: #666; }
.csContentArea .basketCartWidget .csCartSummary span.csCartPriceRow .csCartPriceRowValue,
.csContentArea .basketLaybyCartWidget .csCartSummary span.csCartPriceRow .csCartPriceRowValue { font-weight: bold; color: #444; display: inline-block; width: 75px; }
.csContentArea .basketLongTermLaybyCartWidget .csCartSummary span.csCartPriceRow .csCartPriceRowValue { font-weight: bold;
color: #444; display: inline-block; width: 75px; }
.csContentArea .basketCartWidget .csCartFooter,
.csContentArea .basketLaybyCartWidget .csCartFooter { position: relative; float: left; width: 100%; background: #eee; }
.csContentArea .basketLongTermLaybyCartWidget .csCartFooter { position: relative; float: left; width: 100%; background: #eee; }
.csContentArea .basketCartWidget .csCartFooter .csToolbar,
.csContentArea .basketLaybyCartWidget .csCartFooter .csToolbar { float: left; width: 30%; background: #eee; }
.csContentArea .basketLongTermLaybyCartWidget .csCartFooter .csToolbar { float: left; width: 30%; background: #eee; }
.csContentArea .basketCartWidget .csCartFooter .csToolbar .csToolbarLeft,
.csContentArea .basketLaybyCartWidget .csCartFooter .csToolbar .csToolbarLeft { float: left; padding: 5px 10px; }
.csContentArea .basketLongTermLaybyCartWidget .csCartFooter .csToolbar .csToolbarLeft { float: left; padding: 5px 10px; }
.csContentArea .basketCartWidget .csCartFooter .csToolbar .csToolbarLeft div,
.csContentArea .basketLaybyCartWidget .csCartFooter .csToolbar .csToolbarLeft div { padding: 5px 0; }
.csContentArea .basketLongTermLaybyCartWidget .csCartFooter .csToolbar .csToolbarLeft div { padding: 5px 0; }

.csContentArea .basketCartWidget .csCartFooter .csCartSummary,
.csContentArea .basketLaybyCartWidget .csCartFooter .csCartSummary { float:right; margin-right:86px; padding:10px 0; }
.csContentArea .basketLongTermLaybyCartWidget .csCartFooter .csCartSummary { float:right; margin-right:86px; padding:10px 0; }
.csContentArea .basketCartWidget .csCartFooter .csCheckoutBtnContainer,
.csContentArea .basketLaybyCartWidget .csCartFooter .csCheckoutBtnContainer { float: right; padding: 10px 0; margin-right: 20px; font-weight: bold; text-transform: uppercase; }
.csContentArea .basketLongTermLaybyCartWidget .csCartFooter .csCheckoutBtnContainer { float: right; padding: 10px 0;
margin-right: 20px; font-weight: bold; text-transform: uppercase; }
.csContentArea .basketCartWidget .csCartFooter2,
.csContentArea .basketLaybyCartWidget .csCartFooter2 { position: relative; float: left; width: 100%; background: #eee; padding: 5px; margin: 10px 0 0 0; }
.csContentArea .basketLongTermLaybyCartWidget .csCartFooter2 { position: relative; float: left; width: 100%; background: #eee;
padding: 5px; margin: 10px 0 0 0; }
.csContentArea .basketCartWidget .csCartFooter2 .csToolbar .csToolbarLeft,
.csContentArea .basketLaybyCartWidget .csCartFooter2 .csToolbar .csToolbarLeft { float: left; }
.csContentArea .basketLongTermLaybyCartWidget .csCartFooter2 .csToolbar .csToolbarLeft { float: left; }

.basketCartWidget .promotionRowOdd.csListItemDetailOdd td.z-list-cell,
.basketLaybyCartWidget .promotionRowOdd.csListItemDetailOdd td.z-list-cell { background: #d3dfd1; }
.basketLongTermLaybyCartWidget .promotionRowOdd.csListItemDetailOdd td.z-list-cell { background: #d3dfd1; }
.basketCartWidget .promotionRowOdd.csListItemOdd td.z-list-cell,
.basketLaybyCartWidget .promotionRowOdd.csListItemOdd td.z-list-cell { background: #d3dfd1; }
.basketLongTermLaybyCartWidget .promotionRowOdd.csListItemOdd td.z-list-cell { background: #d3dfd1; }
*html .basketCartWidget .promotionRowOdd td.z-list-cell,
*html .basketLaybyCartWidget .promotionRowOdd td.z-list-cell { background: #d3dfd1; border-bottom: 1px solid #E7F5E5; }
*html .basketLongTermLaybyCartWidget .promotionRowOdd td.z-list-cell { background: #d3dfd1; border-bottom: 1px solid #E7F5E5; }

.basketCartWidget .promotionRowOdd.csListItemDetailEven td.z-list-cell,
.basketLaybyCartWidget .promotionRowOdd.csListItemDetailEven td.z-list-cell { background: #e7eee6; }
.basketLongTermLaybyCartWidget .promotionRowOdd.csListItemDetailEven td.z-list-cell { background: #e7eee6; }
.basketCartWidget .promotionRowOdd.csListItemEven td.z-list-cell,
.basketLaybyCartWidget .promotionRowOdd.csListItemEven td.z-list-cell { background: #e7eee6; }
.basketLongTermLaybyCartWidget .promotionRowOdd.csListItemEven td.z-list-cell { background: #e7eee6; }

.basketCartWidget .promotionRowEven.csListItemDetailOdd td.z-list-cell,
.basketLaybyCartWidget .promotionRowEven.csListItemDetailOdd td.z-list-cell { background: #ddd1df; }
.basketLongTermLaybyCartWidget .promotionRowEven.csListItemDetailOdd td.z-list-cell { background: #ddd1df; }
.basketCartWidget .promotionRowEven.csListItemOdd td.z-list-cell,
.basketLaybyCartWidget .promotionRowEven.csListItemOdd td.z-list-cell { background: #ddd1df; }
.basketLongTermLaybyCartWidget .promotionRowEven.csListItemOdd td.z-list-cell { background: #ddd1df; }
*html .basketCartWidget .promotionRowEven td.z-list-cell,
*html .basketLaybyCartWidget .promotionRowEven td.z-list-cell { background: #ddd1df; border-bottom: 1px solid #F5E8F7; }
*html .basketLongTermLaybyCartWidget .promotionRowEven td.z-list-cell { background: #ddd1df; border-bottom: 1px solid #F5E8F7; }

.basketCartWidget .promotionRowEven.csListItemDetailEven td.z-list-cell { background: #ede6ee; }
.basketCartWidget .promotionRowEven.csListItemEven td.z-list-cell { background: #ede6ee; }

.csContentArea .basketCartWidget tr.z-list-item-seld td.z-list-cell,
.csContentArea .basketLaybyCartWidget tr.z-list-item-seld td.z-list-cell span.csPrice { background: #7b859c; color: #fff; }
.csContentArea .basketLongTermLaybyCartWidget tr.z-list-item-seld td.z-list-cell span.csPrice { background: #7b859c; color:
#fff; }
.csContentArea .basketCartWidget span.csPreviousPrice,
.csContentArea .basketLaybyCartWidget span.csPreviousPrice { text-decoration:line-through; display: block; }
.csContentArea .basketLongTermLaybyCartWidget span.csPreviousPrice { text-decoration:line-through; display: block; }
.csContentArea .basketCartWidget .promotionRowEven td.z-list-cell.promotionIndicator,
.csContentArea .basketLaybyCartWidget .promotionRowEven td.z-list-cell.promotionIndicator { background: #84598c; width: 10px; }
.csContentArea .basketLongTermLaybyCartWidget .promotionRowEven td.z-list-cell.promotionIndicator { background: #84598c; width:
10px; }
.csContentArea .basketCartWidget .promotionRowOdd td.z-list-cell.promotionIndicator,
.csContentArea .basketLaybyCartWidget .promotionRowOdd td.z-list-cell.promotionIndicator { background: #5e8c59; width: 10px; }
.csContentArea .basketLongTermLaybyCartWidget .promotionRowOdd td.z-list-cell.promotionIndicator { background: #5e8c59; width:
10px; }
.csContentArea .basketCartWidget .hasPromotions.isPromotionResult td.z-list-cell div.z-list-cell-cnt,
.csContentArea .basketLaybyCartWidget .hasPromotions.isPromotionResult td.z-list-cell div.z-list-cell-cnt { padding-top: 4px; padding-bottom: 4px; }
.csContentArea .basketLongTermLaybyCartWidget .hasPromotions.isPromotionResult td.z-list-cell div.z-list-cell-cnt { padding-top:
4px; padding-bottom: 4px; }
.csContentArea .basketCartWidget .promotionInformationRow td.z-list-cell,
.csContentArea .basketLaybyCartWidget .promotionInformationRow td.z-list-cell { padding: 6px 0; color: white; }
.csContentArea .basketLongTermLaybyCartWidget .promotionInformationRow td.z-list-cell { padding: 6px 0; color: white; }
.csContentArea .basketCartWidget .promotionInformationRow td.z-list-cell .csWidgetMasterDetailListboxToggle,
.csContentArea .basketLaybyCartWidget .promotionInformationRow td.z-list-cell .csWidgetMasterDetailListboxToggle { color: white; }
.csContentArea .basketLongTermLaybyCartWidget .promotionInformationRow td.z-list-cell .csWidgetMasterDetailListboxToggle {
color: white; }
.csContentArea .basketCartWidget .promotionInformationRow td.z-list-cell div.z-list-cell-cnt,
.csContentArea .basketLaybyCartWidget .promotionInformationRow td.z-list-cell div.z-list-cell-cnt { font-weight: bold; }
.csContentArea .basketLongTermLaybyCartWidget .promotionInformationRow td.z-list-cell div.z-list-cell-cnt { font-weight: bold; }
.csContentArea .basketCartWidget .promotionInformationRowEven td.z-list-cell,
.csContentArea .basketLaybyCartWidget .promotionInformationRowEven td.z-list-cell { background: #84598c; }
.csContentArea .basketLongTermLaybyCartWidget .promotionInformationRowEven td.z-list-cell { background: #84598c; }
.csContentArea .basketCartWidget .promotionInformationRowOdd td.z-list-cell,
.csContentArea .basketLaybyCartWidget .promotionInformationRowOdd td.z-list-cell { background: #5e8c59; }
.csContentArea .basketLongTermLaybyCartWidget .promotionInformationRowOdd td.z-list-cell { background: #5e8c59; }
.csContentArea .basketCartWidget .csPromotionDetailsRow td.z-list-cell,
.csContentArea .basketLaybyCartWidget .csPromotionDetailsRow td.z-list-cell { background: #5e8c59; }
.csContentArea .basketLongTermLaybyCartWidget .csPromotionDetailsRow td.z-list-cell { background: #5e8c59; }
.csContentArea .basketCartWidget .csPromotionDetailsRowEven td.z-list-cell,
.csContentArea .basketLaybyCartWidget .csPromotionDetailsRowEven td.z-list-cell { background: white; border-bottom: 5px solid #84598c;}
.csContentArea .basketLongTermLaybyCartWidget .csPromotionDetailsRowEven td.z-list-cell { background: white; border-bottom: 5px
solid #84598c;}
.csContentArea .basketCartWidget .csPromotionDetailsRowOdd td.z-list-cell,
.csContentArea .basketLaybyCartWidget .csPromotionDetailsRowOdd td.z-list-cell { background: white; border-bottom: 5px solid #5e8c59; }
.csContentArea .basketLongTermLaybyCartWidget .csPromotionDetailsRowOdd td.z-list-cell { background: white; border-bottom: 5px
solid #5e8c59; }
.csContentArea .basketCartWidget tr.appliedPromotion td.csMasterContentCell div.z-list-cell-cnt,
.csContentArea .basketLaybyCartWidget tr.appliedPromotion td.csMasterContentCell div.z-list-cell-cnt { background-image: url('../images/product_promotion.png'); background-repeat: no-repeat; background-position: right top; }
.csContentArea .basketLongTermLaybyCartWidget tr.appliedPromotion td.csMasterContentCell div.z-list-cell-cnt { background-image:
url('../images/product_promotion.png'); background-repeat: no-repeat; background-position: right top; }

.csContentArea .basketResultWidget div.csProductMessage span.z-label { color: #000000; }
.csContentArea .basketResultWidget tr.z-list-item-seld div.csProductMessage span.z-label { color: #000000; }

.listActionColHeader { width: 250px !important; }
*html .listActionColHeader { width: 250px !important; }

.z-button.btnlightblue {
    background-image: none;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d2f9), color-stop(100%, #008ef0));
    background: -webkit-linear-gradient(top, #00d2f9, #008ef0);
    background: -moz-linear-gradient(top, #00d2f9, #008ef0);
    background: -o-linear-gradient(top, #00d2f9, #008ef0);
    background: linear-gradient(top, #00d2f9, #008ef0);
}

.z-window-popup-icon, .z-window-highlighted-icon, .z-window-modal-icon {
 background-image:url(images/close_btn.png) !important;
 background-position: 0 !important; 
}

.csContentArea .z-list-item-seld .z-label {color: #fff; display: inline-block; width: auto; font-weight: bold;}

.csContentArea .csWidgetMasterDetailListboxCellLine1 { white-space: normal;}

.orderPaymentTransactionsWidget .csObjectIpgGiftCardPaymentInfoContainer, 
.orderPaymentTransactionsWidget .csObjectAfterpayPaymentInfoContainer,
.orderPaymentTransactionsWidget .csObjectZippayPaymentInfoContainer,
.orderPaymentTransactionsWidget .csObjectIpgCreditCardPaymentInfoContainer {
    padding: 5px;
    background: #ffe;
    border: 1px solid #eed;
}

.orderPaymentTransactionsWidget .csObjectIpgGiftCardPaymentInfoContainer span, 
.orderPaymentTransactionsWidget .csObjectAfterpayPaymentInfoContainer span,
.orderPaymentTransactionsWidget .csObjectZippayPaymentInfoContainer span,
.orderPaymentTransactionsWidget .csObjectIpgCreditCardPaymentInfoContainer span {
    font-size: 11px;
    font-family: monospace;
}

.orderPaymentTransactionsWidget .csObjectIpgGiftCardPaymentInfoContainer .csLabel, 
.orderPaymentTransactionsWidget .csObjectAfterpayPaymentInfoContainer .csLabel,
.orderPaymentTransactionsWidget .csObjectZippayPaymentInfoContainer .csLabel,
.orderPaymentTransactionsWidget .csObjectIpgCreditCardPaymentInfoContainer .csLabel {
    color: #666;
    display: inline-block;
    width: 20em;
    text-align: right;
    padding-right: 10px;
}

.orderPaymentTransactionsWidget tr.csListItemDetail.z-list-item-seld .csObjectIpgGiftCardPaymentInfoContainer .csLabel, 
.orderPaymentTransactionsWidget tr.csListItemDetail.z-list-item-seld .csObjectAfterpayPaymentInfoContainer .csLabel,
.orderPaymentTransactionsWidget tr.csListItemDetail.z-list-item-seld .csObjectZippayPaymentInfoContainer .csLabel,
.orderPaymentTransactionsWidget tr.csListItemDetail.z-list-item-seld .csObjectIpgCreditCardPaymentInfoContainer .csLabel {
    color: #666;
    font-size: 11px;
    display: inline-block;
    width: 20em;
    text-align: right;
    padding-right: 10px;
}

.orderPaymentTransactionsWidget tr.csListItemDetail.z-list-item-seld .csObjectIpgGiftCardPaymentInfoContainer span, 
.orderPaymentTransactionsWidget tr.csListItemDetail.z-list-item-seld .csObjectAfterpayPaymentInfoContainer span,
.orderPaymentTransactionsWidget tr.csListItemDetail.z-list-item-seld .csObjectZippayPaymentInfoContainer span,
.orderPaymentTransactionsWidget tr.csListItemDetail.z-list-item-seld .csObjectIpgCreditCardPaymentInfoContainer span {
    color: #333;
    font-size: 11px;
    font-family: monospace;
}

.orderPaymentTransactionsWidget .csObjectIpgGiftCardPaymentInfoContainer .csValue, 
.orderPaymentTransactionsWidget .csObjectAfterpayPaymentInfoContainer .csValue,
.orderPaymentTransactionsWidget .csObjectZippayPaymentInfoContainer .csValue,
.orderPaymentTransactionsWidget .csObjectIpgCreditCardPaymentInfoContainer .csValue {
    color: #333;
    font-weight: bold;
    display: inline-block;
}

.placeOrderWidget .csPlaceOrderB2BCheckbox {
    padding-left: 15px;
    padding-top: 10px;
    position: absolute;
}

.placeOrderWidget .csPlaceOrderB2BCheckbox .z-checkbox-cnt{
    font-size: 12px;
    padding-left: 5px;
}
