<p><a href="#" class="close terms-accordion">Close</a></p>
<h2 class="heading">Target Customer Wi-Fi</h2>
<p>Stay connected while you shop with free Target Customer Wi-Fi.</p>
<p>Free Wi-Fi access is limited to a one hour session per customer and is subject to Terms and Conditions below.</p>
<h3>Terms and Conditions</h3>
<h4>Accessing Company Public Network From Your Wireless Device</h4>
<p>Target Customer Wi-Fi is provided by Target Australia Pty Ltd ABN 75 004 250 944 (Target) as a free service in selected Target stores. Access is via a notebook/laptop computer, tablet or other device equipped with a wireless card that supports the Wi-Fi standard. Target assumes no responsibility for the safety of your device.</p>
<p>You will be able to access the Internet from your wireless device within range of an access point. Access is limited to 1 hour session per customer. You will be automatically logged out of Target Customer Wi-Fi after this time. It is a condition of these terms and conditions that you use the wireless access responsibly and lawfully. You must not use Target Customer Wi-Fi to: change, damage or interfere with its operation or impinge on another user's use of Target Customer Wi-Fi, cause Target to lose the services of our suppliers (including our internet service provider), attempt to access any data or system which you are not authorized to access, impersonate another person or entity, solicit personal information from another user, advertise or promote the sale of products or services Target considers inappropriate; or do anything else which Target considers inappropriate. Target may limit or block access to websites or content which we consider to be inappropriate.  We may terminate your access to Target Customer Wi-Fi at any time within Target's absolute discretion.</p>
<h3>Collection and Use of Information by Target</h3>
<p>Target collects your email and ISP address for the purposes of providing Target Customer Wi-Fi to you.  We monitor and log communications over our networks for security, performance and other customer behaviour purposes</p>
<h3>Security Considerations</h3>
<p>The internet is an inherently unreliable and insecure form of communication. Target provides public unencrypted wireless access to the internet on an 'as is' basis. You are solely responsible for understanding the risks of unencrypted access to the internet. You are solely responsible for the security of your system and any transmissions you make or receive.  Your use of Target Customer Wi-Fi (including any websites or network connections you access while using Target Customer Wi-Fi) is entirely at your own risk. To the maximum extent permitted by law, Target makes no warranties or representations in connection with Target Customer Wi-Fi and we will not be liable for any loss or damage you may suffer in connection with use of Target Customer Wi-Fi.</p>
<h3>Team Members &amp; Contractors</h3>
<p>Target Customer Wi-Fi &ndash; make an informed decision.</p>
<p>The Target Customer Wi-Fi service is designed to provide customers with the convenience of internet access while they are using our retail space in Target stores.  Target welcomes the occasional use of the service by team members and provides the following information:</p>
<ul>
    <li>All Team Members, including Contractors are bound by  Target's &quot;Electronic Communication Policy&quot;, &quot;Internet and Electronic mail usage policy&quot;, &quot;Social Media Policy&quot; and &quot;Information Security Policy&quot;.</li>
    <li>There is no intention to collect data about you personally.  However, Target may capture data about your devices as part of routine monitoring.</li>
    <li>Once a personal device is configured to connect to the Target free Wi-Fi service, it is possible that such devices may &quot;roam&quot; onto the Target free Wi-Fi service without express acknowledgement and therefore some personal usage might be captured unintentionally</li>
    <li>Team members are at all times considered ambassadors of Target and all online behaviour that can be connected to Target in any way should reflect this responsibility.</li>
</ul>
<p>If you have any questions about this communication please approach your line manager for more detail.</p>
<h1>Our privacy policy</h1>
<p>Your privacy is very important to us and we will always act to protect your information.  We take this responsibility seriously and are very careful about how and when your personal information is collected, used and shared.</p>
<p>This statement tells you in general terms what our commitment is, why we need to collect personal information, who we may share that information with outside of Target and how you may access the information that we keep.</p>
<h3>Our privacy commitment</h3>
<p>We will always ensure that we handle your personal information securely and carefully.  Your personal information will only be used when it is necessary for us to deliver you a service or perform other essential business functions and activities.  We will not use your personal information for purposes unrelated to the services we provide, unless first obtaining your consent.  Wherever possible, we will give you the option of interacting anonymously with us, provided that it is practicable and lawful to do so. We will always use fair and lawful means of collecting personal information and in most circumstances the personal information that we collect will be supplied directly by you.</p>
<h3>What personal information we collect</h3>
<p>In most cases, the personal information that we collect is supplied directly by you when you provide us with your details, place an order, seek a refund without a receipt or provide feedback to us.  The information that we collect may include:</p>
<ul>
    <li>your name</li>
    <li>your address</li>
    <li>your contact details, i.e. fax, email, mobile and phone</li>
    <li>merchandise information, i.e. purchases and orders</li>
    <li>your method of payment.</li>
</ul>
<p>We are always looking to improve our service to you, so sometimes may collect other information such as where you shop or what your interests are. Through our business partners such as flybuys and GE Capital Finance, who administer our store cards, we may also collect your transaction history.</p>
<h3>Why we collect it</h3>
<p>We collect information for many reasons including:</p>
<ul>
    <li>to deliver products and online orders to you</li>
    <li>to improve our service</li>
    <li>to provide offers that are of a greater interest or benefit to you</li>
    <li>to complete other transactions with you or on your behalf</li>
    <li>protect against fraud or theft.</li>
</ul>
<h3>How we collect this information</h3>
<p>We collect information in a number of ways including:</p>
<ul>
    <li>if you sign-up to our weekly newsletter</li>
    <li>when you order goods or services, particularly when those products are delivered</li>
    <li>if you use our lay-by service</li>
    <li>when you shop in our store and use your flybuys, Coles Group Source&trade; MasterCard&reg; or your Coles Group Card&trade;</li>
    <li>if you open an account with us.</li>
</ul>
<p>Sometimes, we may add to your personal information additional information from external sources. This is mainly done to verify the accuracy of the information we have and to personalise and improve our service.</p>
<h3>Who we share your information with</h3>
<p>Target does not intend selling your personal information to other parties. However, we will often need to pass personal details such as your name and address to companies who perform parts of our service delivery.  These companies include:</p>
<ul>
    <li>Coles Group Limited</li>
    <li>GE Capital Finance Australia</li>
    <li>flybuys</li>
    <li>major delivery companies</li>
    <li>external (non-Target) call centres</li>
    <li>mail houses</li>
    <li>third party fulfilment contractors.</li>
</ul>
<p>In these circumstances, we will ensure that all third parties undertake to protect your privacy.</p>
<h3>Linked sites</h3>
<p>Target is not responsible for the privacy practices of sites linked to Target via hyperlinks, banner advertising or other means.  Please take care at all times when visiting another site.</p>
<h3>Direct marketing</h3>
<p>If you don't want to be contacted about all the latest special offers, events and news, please call our Customer Relations Department on 1800 814 788</p>
<h3>Cookies and online advertising</h3>
<p>A cookie is a small data file that's stored by your web browser on your computer. Target and our advertising management partner, DoubleClick, use cookies to help monitor your online activity and to learn which advertisements bring users to our website. The information that we collect and share from the Cookies is anonymous and not personally identifiable. It does not contain your name, address, telephone number, email address or the details of your internet service provider. For more information about DoubleClick, including how to opt out of these technologies, visit www.doubleclick.net/us/corporate/privacy.</p>
<h3>Accessing your information</h3>
<p>If you would like to access your personal information, call our Customer Relations Department on 1300 753 567 or write to them at:<br />
Reply Paid 11<br />
PO Box 41<br />
North Geelong VIC 3215</p>
<p><sub>*Please note that written requests are preferred as they help us in verifying your identity.</sub></p>
<h3>Target and Coles Group Ltd Privacy policies and practices</h3>
<p>From time to time and in line with customer expectations and legislative changes, our privacy policies and procedures will be reviewed and if appropriate, updated. A copy of the Wesfarmers Limited Privacy Policy is available at www.wesfarmers.com.au/security-a-privacy.html</p>
<p><a href="#" class="terms-accordion">Close</a></p>