.loginContainerWindow {
    background-image: url(../images/login_y_cockpit.png);
}

tr.z-tree-row td.tree_first_col {
    width: 50%;
}

tr.z-tree-row td.tree_last_col div.z-tree-cell-cnt {
   margin-left: 0;
}

.contentEditorGroupbox .contentEditorHeader {
	display: block;
}

td.structureViewSection.centered {
    vertical-align: middle;
}

td.structureViewSection.centered div {
    font-size: 14px;
}