<h4>Men's Shoe Sizes</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Size AUS</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>UK</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
                <tr class="odd">
                    <td>US</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                </tr>
                <tr class="even">
                    <td>EUR</td>
                    <td>39</td>
                    <td>40.5</td>
                    <td>42</td>
                    <td>43</td>
                    <td>44.5</td>
                    <td>45.5</td>
                    <td>47</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>