<hr />
<h2 id="WomensSizes">Women's Sizes</h2>
<h4>Women's - Regular</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Size Aus</th>
                    <th>8</th>
                    <th>10</th>
                    <th>12</th>
                    <th>14</th>
                    <th>16</th>
                    <th>18</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Bust (CM)</td>
                    <td>82</td>
                    <td>87</td>
                    <td>92</td>
                    <td>97</td>
                    <td>102</td>
                    <td>107</td>
                </tr>
                <tr class="odd">
                    <td>Waist (CM)</td>
                    <td>63</td>
                    <td>68</td>
                    <td>73</td>
                    <td>78</td>
                    <td>83</td>
                    <td>88</td>
                </tr>
                <tr class="even">
                    <td>Hips (CM)</td>
                    <td>88</td>
                    <td>93</td>
                    <td>98</td>
                    <td>103</td>
                    <td>108</td>
                    <td>113</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Women's - Maternity</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Size Aus</th>
                    <th>8</th>
                    <th>10</th>
                    <th>12</th>
                    <th>14</th>
                    <th>16</th>
                    <th>18</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Bust (CM)</td>
                    <td>86</td>
                    <td>91</td>
                    <td>96</td>
                    <td>101</td>
                    <td>106</td>
                    <td>111</td>
                </tr>
                <tr class="odd">
                    <td>Waist (CM)</td>
                    <td>77</td>
                    <td>82</td>
                    <td>87</td>
                    <td>92</td>
                    <td>97</td>
                    <td>102</td>
                </tr>
                <tr class="even">
                    <td>Hips (CM)</td>
                    <td>92</td>
                    <td>97</td>
                    <td>102</td>
                    <td>107</td>
                    <td>112</td>
                    <td>117</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Women's - Hot Options</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Size Aus</th>
                    <th>6</th>
                    <th>8</th>
                    <th>10</th>
                    <th>12</th>
                    <th>14</th>
                    <th>16</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Bust (CM)</td>
                    <td>77</td>
                    <td>82</td>
                    <td>87</td>
                    <td>92</td>
                    <td>97</td>
                    <td>102</td>
                </tr>
                <tr class="odd">
                    <td>Waist (CM)</td>
                    <td>57</td>
                    <td>63</td>
                    <td>68</td>
                    <td>73</td>
                    <td>78</td>
                    <td>83</td>
                </tr>
                <tr class="even">
                    <td>Hips (CM)</td>
                    <td>83</td>
                    <td>88</td>
                    <td>93</td>
                    <td>98</td>
                    <td>103</td>
                    <td>108</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Women's Plus - MODA</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Size Aus</th>
                    <th>16</th>
                    <th>18</th>
                    <th>20</th>
                    <th>22</th>
                    <th>24</th>
                    <th>26</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Bust (CM)</td>
                    <td>110</td>
                    <td>115</td>
                    <td>120</td>
                    <td>125</td>
                    <td>130</td>
                    <td>135</td>
                </tr>
                <tr class="odd">
                    <td>Waist (CM)</td>
                    <td>95</td>
                    <td>100</td>
                    <td>105</td>
                    <td>110</td>
                    <td>115</td>
                    <td>120</td>
                </tr>
                <tr class="even">
                    <td>Hips (CM)</td>
                    <td>116</td>
                    <td>121</td>
                    <td>126</td>
                    <td>131</td>
                    <td>136</td>
                    <td>141</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Women's - Free Fusion</h4>
<table class="size-chart">
    <thead>
        <tr>
            <th>Size Aus</th>
            <th>6</th>
            <th>8</th>
            <th>10</th>
            <th>12</th>
            <th>14</th>
        </tr>
    </thead>
    <tbody>
        <tr class="even">
            <td>Bust (CM)</td>
            <td>78</td>
            <td>83</td>
            <td>88</td>
            <td>93</td>
            <td>98</td>
        </tr>
        <tr class="odd">
            <td>Waist (CM)</td>
            <td>61</td>
            <td>66</td>
            <td>71</td>
            <td>76</td>
            <td>81</td>
        </tr>
        <tr class="even">
            <td>Hips (CM)</td>
            <td>85</td>
            <td>90</td>
            <td>95</td>
            <td>100</td>
            <td>105</td>
        </tr>
    </tbody>
</table>

<h4>Women's - Free Fusion</h4>
<table class="size-chart">
    <thead>
        <tr>
            <th>Size Aus</th>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
        </tr>
    </thead>
    <tbody>
        <tr class="even">
            <td>Bust (CM)</td>
            <td>78</td>
            <td>83</td>
            <td>88</td>
            <td>93</td>
            <td>98</td>
        </tr>
        <tr class="odd">
            <td>Waist (CM)</td>
            <td>61</td>
            <td>66</td>
            <td>71</td>
            <td>76</td>
            <td>81</td>
        </tr>
        <tr class="even">
            <td>Hips (CM)</td>
            <td>85</td>
            <td>90</td>
            <td>95</td>
            <td>100</td>
            <td>105</td>
        </tr>
    </tbody>
</table>