<h4>Women's Shoe Sizes</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Size AUS</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>UK</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                </tr>
                <tr class="odd">
                    <td>US</td>
                    <td>5.5</td>
                    <td>6.5</td>
                    <td>7.5</td>
                    <td>8.5</td>
                    <td>9.5</td>
                    <td>10.5</td>
                    <td>11.5</td>
                </tr>
                <tr class="even">
                    <td>EUR</td>
                    <td>35.5</td>
                    <td>36.5</td>
                    <td>38</td>
                    <td>39</td>
                    <td>40.5</td>
                    <td>42</td>
                    <td>43</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>