<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>

<div class="hidden">
	<svg>
		<symbol id="FavHeartIcon">
			<path class="FavHeart-heart" stroke-width="1.5" stroke-linejoin="round" d="M28.05 17.707c0-5.3-6.975-6.975-8.525-.528-1.55-6.448-8.525-4.772-8.525.527C11 22.3 19.525 28.5 19.525 28.5s8.525-6.2 8.525-10.793z"/>
		</symbol>
		<symbol id="FatFavHeartIcon">
			<path class="FavHeart-fatHeart" stroke-width="2" d="M14.6,4.8L14.6,4.8C14.6,4.8,14.6,4.8,14.6,4.8 M15,25c-0.2,0-0.5,0-0.7-0.1C9,22.8,4.6,19,1.9,14C1.3,12.9,1,11.6,1,10.3 C0.9,6.5,3.5,3.2,7.1,2.3C10,1.5,13,2.4,15,4.4c2-2,4.9-2.8,7.8-2.1c3.7,0.9,6.2,4.2,6.2,8.1c0,1.3-0.3,2.5-0.9,3.7 c-2.7,5-7.1,8.9-12.5,10.9C15.4,25,15.2,25,15,25" />
		</symbol>
		<symbol id="FeedbackCrossIcon">
			<path class="Feedback-cross" d="M4.15,5.45 L1.15,8.45 C0.75,8.85 0.75,9.55 1.15,9.95 C1.55,10.35 2.25,10.35 2.65,9.95 L5.65,6.95 L8.65,9.95 C9.05,10.35 9.75,10.35 10.15,9.95 C10.55,9.55 10.55,8.85 10.15,8.45 L7.15,5.45 L10.15,2.45 C10.55,2.05 10.55,1.35 10.15,0.95 C9.75,0.55 9.05,0.55 8.65,0.95 L5.65,3.95 L2.65,0.95 C2.25,0.55 1.55,0.55 1.15,0.95 C0.75,1.35 0.75,2.05 1.15,2.45 L4.15,5.45 L4.15,5.45 Z" />
		</symbol>
		<symbol id="FeedbackMobileIcon">
			<path d="M25,50 C38.8071187,50 50,38.8071187 50,25 C50,11.1928813 38.8071187,0 25,0 C11.1928813,0 0,11.1928813 0,25 C0,38.8071187 11.1928813,50 25,50 Z" fill="#232021"/>
			<path d="M19,29 L33.509523,29" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"/>
			<path d="M19,34 L33.509523,34" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"/>
			<path d="M25.7365617,24.5552734 C25.7365617,24.5552734 31.4731233,20.3331531 31.4731233,17.2056175 C31.4731233,13.5967601 26.7795729,12.4557321 25.7365617,16.8456817 C24.6935504,12.4557321 20,13.5967601 20,17.2056175 C20,20.3331531 25.7365617,24.5552734 25.7365617,24.5552734 L25.7365617,24.5552734 Z" fill="#FFFFFF"/>
		</symbol>
		<symbol id="DownArrowIcon">
			<path class="Down-Arrow" d="M5.418 6.651c-.75-.744-1.487-1.48-2.214-2.21A1514.08 1514.08 0 0 0 1 2.233c-.085-.09-.171-.184-.262-.283a.458.458 0 0 1-.135-.311.32.32 0 0 1 .1-.234l.522-.522a.37.37 0 0 1 .27-.117c.042 0 .094.009.157.027a.32.32 0 0 1 .14.072l3.86 3.861L9.541.864A.211.211 0 0 1 9.68.783a.87.87 0 0 1 .158-.018.27.27 0 0 1 .13.032c.039.02.08.049.121.085l.495.477a.38.38 0 0 1 .117.279.595.595 0 0 1-.027.158.32.32 0 0 1-.072.139l-4.67 4.689c-.085.084-.162.126-.235.126a.504.504 0 0 1-.148-.027.316.316 0 0 1-.13-.072z" fill="#FFF" fill-rule="evenodd"/>
		</symbol>
		<symbol id="MagnifyingGlassIcon">
			<path d="M17,9c0-4.4-3.6-8-8-8S1,4.6,1,9c0,4.4,3.6,8,8,8S17,13.4,17,9z M9,15c-3.3,0-6-2.7-6-6c0-3.3,2.7-6,6-6 c3.3,0,6,2.7,6,6C15,12.3,12.3,15,9,15z M21.7,20.3L16,14.6c-0.4,0.5-0.9,1-1.4,1.4l5.7,5.7c0.2,0.2,0.5,0.3,0.7,0.3 s0.5-0.1,0.7-0.3C22.1,21.3,22.1,20.7,21.7,20.3z"/>
		</symbol>
	</svg>
</div>
