<h1>FAQs: Standard Lay-By</h1>
<div class="faq-list">
	<div class="faq-grp">
		<h3>General</h3>
		<dl class="faq-items">
			<dt class="fq">What is an online lay-by?</dt>
			<dd class="fa">Our online lay-by service allows you to create a lay-by and make payments online. You will have 8 weeks in which to make payments before your item is delivered. You can lay-by a range of products available in our online store and have it delivered to your home, or your nearest store. 
			<a href="/modal/online-layby" class="lb" title="About Lay-By">Read more</a>.</dd>
			<dt class="fq">What are the benefits of an online lay-by?</dt>
			<dd class="fa">
				<ul>
					<li>Secure items without paying the full price straight away.</li>
					<li>Flexible payment options; read more about our payment options on our 
					<a href="/help/faqs/shop-online.html#question-list-5">Shopping Online FAQ</a>.</li>
					<li>Avoid the crowds! Shop from the comfort of your own home at a time that suits you.</li>
					<li>Keep gifts away from little hands by keeping them 'hidden' at Target.</li>
					<li>It's convenient. If you don't live near a Target store, you can even have your online lay-by delivered straight to your home or work.</li>
				</ul>
			</dd>
			<dt class="fq">What items are available for online lay-by?</dt>
			<dd class="fa">We have a range of products available for online lay-by. Please note that all items available for online lay-by are clearly marked on the individual product pages with a 'lay-by now' button.</dd>
			<dt class="fq">How do I create an online lay-by?</dt>
			<dd class="fa">
				<p>Creating an online lay-by is easy &ndash; just follow the 3 steps below:</p>
				<h4>1. Click Lay-by Now and add participating items to your basket</h4>
				<p>All items available for online lay-by are clearly marked on the individual product pages with a 'lay-by now' button.</p>
				<h4>2. Choose a delivery option</h4>
				<p>We offer two delivery options, home delivery and FREE Click + Collect in store.</p>
				<p>
					<strong>Note: Your lay-by will be delivered to your nominated home address or store once your lay-by has been paid in full.</strong>
				</p>
				<h4>3. Choose a payment type to suit your needs and pay at least a 10% deposit</h4>
				<p>Online lay-by payments can be made by credit card or PayPal. We accept Visa, MasterCard, AMEX and Diners cards.</p>
				<p>Your lay-by must be paid within the timeframes specified in the 'Your Lay-by' page in the checkout . To make payments, log in to My Account and go to 'My Lay-bys'.</p>
			</dd>
			<dt class="fq">Where can I find the Terms and Conditions for online lay-by?</dt>
			<dd class="fa">
				<p>Our standard online lay-by (8 week) Terms and Conditions are available 
				<a href="/modal/terms-conditions-layby" class="lb" title="conditions of use">here</a> .</p>
				<p>Our long term online lay-by (Toys) Terms and Conditions are available 
				<a href="/modal/terms-conditions-longtermlayby" class="lb" title="conditions of use">here</a> .</p>
			</dd>
			<dt class="fq">Can I create more than one online lay-by?</dt>
			<dd class="fa">Yes, you can create multiple online lay-bys.</dd>
			<dt class="fq">Can I add items from in store to my online lay-by?</dt>
			<dd class="fa">No, unfortunately you can't add items from in store to your online lay-by.</dd>
			<dt class="fq">Are the items I add to my basket automatically held for me?</dt>
			<dd class="fa">No, unfortunately items can only be held once you have submitted your online lay-by order.</dd>
			<dt class="fq">What if I change my mind after I submit my online lay-by?</dt>
			<dd class="fa">
				<p>Standard lay-by cancellation 
				<a href="/modal/terms-conditions-layby" class="lb" title="conditions of use">terms and conditions</a> apply and all monies paid will be refunded (excluding the $5.00 online lay-by service fee). Your lay-by cannot be cancelled once it has been paid in full.</p>
				<p>If you need to cancel your order, please call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST to help you out.</p>
			</dd>
			<dt class="fq">Can I add items to my online lay-by after it has been confirmed?</dt>
			<dd class="fa">No, unfortunately once your online lay-by has been confirmed, you cannot add other items to it.</dd>
			<dt class="fq">If I have any questions, who should I contact?</dt>
			<dd class="fa">If you have any questions, please call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">What is the minimum purchase amount for an online lay-by?</dt>
			<dd class="fa">The minimum purchase amount for an online lay-by is $50.00 (excludes the $5.00 lay- by service fee and delivery fees).</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Payments</h3>
		<dl class="faq-items">
			<dt class="fq">Tell me about your online lay-by payment options.</dt>
			<dd class="fa">
				<p>* Online lay-by payments can be made by credit card (Visa, MasterCard, AMEX &amp; Diners) and 
				<a href="https://www.paypal.com/au/cgi-bin/webscr?cmd=_home" class="external">PayPal</a> .</p>
				<ul>
					<li>You must pay a deposit to start your online lay-by, once created, just sign in to 
					<a href="/my-account/home">My Account</a> and make your payment on the 
					<em>My Lay-bys</em> page. Your lay-by will be shipped from our warehouse once your lay-by has been paid in full, and is subject to our normal delivery timeframes.</li>
				</ul>
			</dd>
			<dt class="fq">Do I have to pay any up-front costs when creating an online lay-by?</dt>
			<dd class="fa">Each online lay-by you create requires a minimum 10% deposit. A $5.00 online lay-by fee applies to each online lay-by.</dd>
			<dt class="fq">Will my lay-by payments come directly out of my account when payment is due?</dt>
			<dd class="fa">No, you must log in to My Account to make payments. You can choose a different credit card or PayPal account for each payment you make.</dd>
			<dt class="fq">Can I make payments for my online lay-by in store?</dt>
			<dd class="fa">Payments for your online lay-by can only be made online and not in store.</dd>
			<dt class="fq">How can I keep track of online lay-by payments?</dt>
			<dd class="fa">You can keep track of your online lay-by payments and view your outstanding online lay-by balance anytime, just sign in to 
			<a href="/my-account/home">My Account</a> , select My Lay-Bys, then click on your lay-by to view your lay-by details</dd>
			<dt class="fq">What if I don't pay my online lay-by by the due date?</dt>
			<dd class="fa">We will contact you to arrange any payments required. If we are unable to contact you, or do not hear back from you we will cancel the lay-by and any monies paid will be refunded.</dd>
			<dt class="fq">Can I change my payment type?</dt>
			<dd class="fa">Each payment can be made using a different credit card or paypal.</dd>
			<dt class="fq">Can I use gift cards to make online lay-by payments?</dt>
			<dd class="fa">No, you cannot use gift cards to make online lay-by payments. We can only accept major credit cards and PayPal.</dd>
			<dt class="fq">Can I use my team member discount card?</dt>
			<dd class="fa">Yes, you can use your team member discount card. Just enter your team member discount barcode number during the payment process.</dd>
			<dt class="fq">How can I see how much is outstanding on my online lay-by?</dt>
			<dd class="fa">You can see your outstanding online lay-by balance anytime, just sign in to 
			<a href="/my-account/home">My Account</a> and make your payment on the 
			<em>My Lay-bys</em> page.</dd>
			<dt class="fq">Can I pay my online lay-by in full?</dt>
			<dd class="fa">
				<p>You can pay your online lay-by in full at anytime. Once your online lay-by has been created, just sign in to 
				<a href="/my-account/home">My Account</a> , then select 
				<em>My Lay-Bys</em> , view your Lay-By then click 
				<em>Make Payment</em> .</p>
				<p>Note: Your lay-by will be shipped from our warehouse once your lay-by has been paid in full, and is subject to our normal delivery timeframes.</p>
			</dd>
			<dt class="fq">Can I cancel my online lay-by?</dt>
			<dd class="fa">If you want to cancel your online lay-by, please call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST. We'll arrange the cancellation and refund any payments back to you (Excluding the $5.00 lay-by service fee). Your lay-by cannot be cancelled once it has been paid in full.</dd>
			<dt class="fq">What if my credit card expires or is lost or stolen prior to my lay-by being paid?</dt>
			<dd class="fa">You can make future payments using another card or paypal.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Delivery</h3>
		<dl class="faq-items">
			<dt class="fq">Where can I have my online lay-by delivered?</dt>
			<dd class="fa">
				<p>You can choose to have your online lay-by delivered to your home or work address, or via our FREE Click + Collect service for in store pick up.</p>
				<p>Note: Our Click + Collect service is only available at selected stores and does not cover all items. Some items are available for Click + Collect only. See individual product pages for details.</p>
			</dd>
			<dt class="fq">How much will delivery cost?</dt>
			<dd class="fa">
				<p>We have two standard flat rates for deliveries Australia-wide:</p>
				<ul>
					<li>
						<p>Home delivery for standard parcels (small, medium or large) is $9.00 including GST.</p>
						<p>Note: This includes an unlimited number of items that fit into this category (E.g. quantities of small medium and large items delivered as one order incur a flat $9.00 postage fee per order)</p>
					</li>
					<li>If 1 or 2 big and bulky parcels are purchased, a flat fee of $49.00 including GST will apply. If three or more big and bulky items are purchased, a flat fee of $98.00 including GST will apply.</li>
				</ul>
				<p>Please see the 
				<a href="/help/payment-delivery.html">Payment + Delivery</a> page for more information.</p>
			</dd>
			<dt class="fq">When will my online lay-by be delivered?</dt>
			<dd class="fa">Your lay-by will be shipped from our warehouse once your lay-by has been paid in full, and is subject to our normal delivery timeframes.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Click + Collect</h3>
		<dl class="faq-items">
			<dt class="fq">Where do I go to collect my online lay-by in store?</dt>
			<dd class="fa">
				<ul>
					<li>If you have chosen our FREE Click + Collect service, you can collect your online lay-by from the lay-by department or customer service counter at your selected store.</li>
					<li>You must produce a copy of your lay-by confirmation email or tax invoice in store to collect your lay-by.</li>
					<li>Collection is required within 7 days of receiving notification that your lay-by has arrived in store.</li>
				</ul>
			</dd>
			<dt class="fq">Can I change the store I selected to collect my lay-by?</dt>
			<dd class="fa">Your nominated store can be changed after the lay-by is created by contacting Target Online Shopping Support on 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST, however your nominated store cannot be changed once your lay-by has been paid in full.</dd>
			<dt class="fq">My preferred store is not in the list of stores, what do I do?</dt>
			<dd class="fa">If your preferred store is unable to accept delivery of big and bulky items it will not be available for Click + Collect, so you will need to select another store or choose the home delivery option.</dd>
			<dt class="fq">Can I have my online lay-by delivered to a Target Country store?</dt>
			<dd class="fa">Yes, you can have your online lay-by delivered to a Target Country store (excludes items that we cannot safely handle in these stores and home delivery only items).</dd>
			<dt class="fq">Can I have my online lay-by delivered as soon as I have paid for it?</dt>
			<dd class="fa">Yes, your lay-by will be delivered once the final payment has been made.</dd>
			<dt class="fq">Will my online lay-by be delivered on a weekend?</dt>
			<dd class="fa">No, if you choose home delivery, your online lay-by is delivered through Australia Post during business hours only and not on the weekend. Check 
			<a href="http://auspost.com.au/index.html" class="external">Australia Post</a> for delivery times in your area.</dd>
			<dt class="fq">Can I change my delivery address for home delivery after I have confirmed my online lay-by?</dt>
			<dd class="fa">If you need to change your delivery address, please call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST, however your delivery address cannot be changed once your lay-by has been paid in full.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Big and Bulky</h3>
		<dl class="faq-items">
			<dt class="fq">What is a big and bulky parcel?</dt>
			<dd class="fa">
				<ul>
					<li>Big and bulky parcels refer to any item over 105cm long and /or with a width of over 140cm or over 22kgs.</li>
					<li>Some items can only be home delivered as they cannot be safely handled in store due to weight restrictions.</li>
					<li>Note: Target Country stores cannot accept delivery of any item over 25 kilograms in weight, for this reason some items are classed as big and bulky for Target Country stores.</li>
				</ul>
				<p>Each product page will inform you of the delivery options and fees.</p>
				<table class="delivery-options">
					<tbody>
						<tr class="odd">
							<td>
								<p>
									<strong>Example of a standard item</strong>
								</p>
								<p>Home Delivery Fee - $9.00</p>
								<p>Click + Collect Fee - Free</p>
							</td>
							<td>
								<p>[[PRODUCT IMAGE]]</p>
							</td>
						</tr>
						<tr class="even">
							<td>
								<p>
									<strong>Example of a big and bulky item</strong>
								</p>
								<p>Home Delivery Fee - $69.00</p>
								<p>Click + Collect Fee - Free</p>
							</td>
							<td>
								<p>[[PRODUCT IMAGE]]</p>
							</td>
						</tr>
						<tr class="odd">
							<td>
								<p>
									<strong>Examples of oversized items for Target Country</strong>
								</p>
								<p>Home Delivery Fee - $69.00</p>
								<p>Click + Collect &ndash; Not available at Target Country stores</p>
							</td>
							<td>
								<p>[[PRODUCT IMAGE]]</p>
							</td>
						</tr>
						<tr class="even">
							<td>
								<p>
									<strong>Example of a big and bulky for home delivery only</strong>
								</p>
								<p>Home Delivery Fee - $69.00</p>
								<p>Click + Collect &ndash; Not available</p>
							</td>
							<td>
								<p>[[PRODUCT IMAGE]]</p>
							</td>
						</tr>
					</tbody>
				</table>
			</dd>
			<dt class="fq">Can my online lay-by be delivered anywhere in Australia?</dt>
			<dd class="fa">Yes, provided that Australia Post delivers to your area, your online lay-by can be delivered anywhere in Australia.</dd>
			<dt class="fq">Can my online lay-by be delivered to a PO Box?</dt>
			<dd class="fa">Provided that your online lay-by is a standard parcel (small, medium or large), we can deliver it to a PO Box. Unfortunately, for big and bulky parcels we can only accept a street address.</dd>
			<dt class="fq">What if I'm not home when my online lay-by is delivered?</dt>
			<dd class="fa">
				<p>For a standard parcel delivery, if you're not home Australia Post will leave a card in your letterbox and ask you to collect it from your local post office.</p>
				<p>For a big and bulky delivery, Australia Post will contact you to arrange a delivery time if a contact telephone number has been provided.</p>
			</dd>
			<dt class="fq">What if I can't print out the Click + Collect confirmation page?</dt>
			<dd class="fa">
				<p>If you can't print out your Click + Collect confirmation page, that's no problem. Just write down your lay-by number and take this with you to the store. Otherwise you can provide your tax invoice, once you receive it in the mail. Tax invoices are posted once lay-by payments are finalised.</p>
				<p>Note: If someone else is collecting your online lay-by, they must bring your signed authorisation form (we email this to you once you have completed the checkout process) your lay-by number and their photo ID.</p>
			</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Items</h3>
		<dl class="faq-items">
			<dt class="fq">How many items can I include in my online lay-by?</dt>
			<dd class="fa">You can include as many items as you like in your online lay-by. However, we reserve the right to limit purchases of individual items to reasonable retail quantities.</dd>
			<dt class="fq">The item I want is sold out online; will it be available in store?</dt>
			<dd class="fa">All items available online may be available to purchase or lay-by in store, please check with your local store to confirm stock availability. See a list of Target stores 
			<a href="http://target.dynamiccatalogue.com.au/portal/storelocator" class="external">here</a> .</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Refunds</h3>
		<dl class="faq-items">
			<dt class="fq">What if items from my lay-by are missing or damaged when delivered?</dt>
			<dd class="fa">If you experience problems with missing or damaged items, please call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST for help.</dd>
			<dt class="fq">What if I want a refund after my online lay-by has been delivered or collected?</dt>
			<dd class="fa">
				<p>Items can be returned to any Target or Target Country store for a refund in-line with our 
				<a href="/help/refund-returns.html">refund policy</a> .</p>
				<p>You can also call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST to help you out.</p>
			</dd>
			<dt class="fq">How do I get a refund?</dt>
			<dd class="fa">
				<p>You can return any items purchased online to your nearest Target or Target Country store. View our refund policy 
				<a href="/help/refund-returns.html">here</a> .</p>
				<p>Alternatively, contact your local store for assistance or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</p>
			</dd>
		</dl>
	</div>
</div>