<h1>FAQs:Online Shopping</h1>
<div class="faq-list">
	<div class="faq-grp">
		<dl class="faq-items">
			<dt class="fq">How do I get help?</dt>
			<dd class="fa">If you have any questions about something you read here, or need help shopping online with us, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">How do I get a copy of a tax invoice for my online order?</dt>
			<dd class="fa">We'll include a printed tax invoice in your parcel delivery or post it to your home. This will be your proof of purchase.</dd>
			<dt class="fq">What browsers does Target Online support?</dt>
			<dd class="fa">Our site is best used with the following browsers:
			<ul>
				<li>Internet Explorer 8</li>
				<li>Internet Explorer 7</li>
				<li>Firefox 3</li>
				<li>Safari 4</li>
				<li>Safari 3</li>
			</ul></dd>
			<dt class="fq">If I&rsquo;m based overseas, how do I get help?</dt>
			<dd class="fa">If you have any questions about something you read here, or need help shopping online with us, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call +61 3 5246 2433 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Browsing and choosing your products</h3>
		<dl class="faq-items">
			<dt class="fq">How do I search for products online?</dt>
			<dd class="fa">You can search for products online by typing in the keywords of the products that you're looking for in the 'Search Our Site Here' section, which will be shown at the top right hand side of your screen.</dd>
			<dt class="fq">What can I buy online?</dt>
			<dd class="fa">Check out all of the items available for you to buy online at 
			<a href="http://www.target.com.au">www.target.com.au</a></dd>
			<dt class="fq">Why aren't all of the items in Target and Target Country stores available online?</dt>
			<dd class="fa">Our online store only carries selected items. If you're after a specific product that isn't shown on our website, contact your local 
			<a href="http://target.dynamiccatalogue.com.au/portal/storelocator">Target or Target Country store</a></dd>
			<dt class="fq">Can I buy gift cards online?</dt>
			<dd class="fa">Yes, you can buy gift cards online at 
			<a href="http://www.target.com.au/giftcards">www.target.com.au/giftcards</a></dd>
			<dt class="fq">Can I still buy a 'sold out' item?</dt>
			<dd class="fa">No, unfortunately if an item has been listed as 'sold out' we're unable to sell it to you.</dd>
			<dt class="fq">How do I know what size I'll be?</dt>
			<dd class="fa">Check out the measurements shown on our 
			<a href="/help/size-chart.html">size chart</a> . They'll be able to give you an approximate guide to our sizes.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Your shopping basket</h3>
		<dl class="faq-items">
			<dt class="fq">How do I make changes to items in 'My Shopping Basket'?</dt>
			<dd class="fa">You will be able to remove items or change quantities in your shopping basket during the 'Checkout' process or by clicking on the basket icon at the top right hand side of your screen.</dd>
			<dt class="fq">How do I know if my item is available?</dt>
			<dd class="fa">You'll be able to add all available items to your shopping basket. Any items that are not available will be marked on your screen and you won't be able to put them in your basket.</dd>
			<dt class="fq">Why was an item removed from 'My Shopping Basket'?</dt>
			<dd class="fa">If an item has become unavailable or we've found an issue with the product, it will be removed from your shopping basket. To find out more, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Your order</h3>
		<dl class="faq-items">
			<dt class="fq">How do I place an order?</dt>
			<dd class="fa">To place an order:
			<ol>
				<li>'Sign In' to your account or shop as a guest\</li>
				<li>Add the items that you want to buy to the basket</li>
				<li>Once you've placed all of the items that you want to buy in your basket, head to the 'Checkout'</li>
				<li>You'll then be able to finalise your order by entering your payment and delivery details.</li>
			</ol></dd>
			<dt class="fq">Can I place an order over the phone?</dt>
			<dd class="fa">Yes, you can place an order over the phone by calling us on 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">I'm having trouble placing an online order. What can I do?</dt>
			<dd class="fa">If you're having trouble placing an order online, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">Can I get my order gift wrapped?</dt>
			<dd class="fa">No, at the moment we're unable to gift wrap your order.</dd>
			<dt class="fq">Can I send my order as a gift?</dt>
			<dd class="fa">You'll be able to send your order as a gift but please note that the tax invoice will be sent with the parcel.</dd>
			<dt class="fq">What if I don't receive my order or shipping confirmation?</dt>
			<dd class="fa">If you haven't received an order or shipping confirmation email within 24 hours of placing your order, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">How do I cancel or change an order?</dt>
			<dd class="fa">We can cancel your order within 1 hr of placing however we cannot change your order once it is placed. Please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">Am I able to add or delete items from my order once I have completed the order?</dt>
			<dd class="fa">Unfortunately, you're unable to add items or amend your order however you can create a new order. Please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">What if the status of my order is showing as Review, Review on Hold or Rejected?</dt>
			<dd class="fa">If the status of your order is showing as Review, Review on Hold or Rejected, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST and we will be happy to assist you.</dd>
			<dt class="fq">I'm trying to order multiple amounts of the same product but can't. Why is this?</dt>
			<dd class="fa">You may not be able to order multiple amounts of the same product because some items have stock limits. Therefore you will need to adjust your quantities as required for the order to be processed. If you're unsure, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">Can I lay-by items from Target Online?</dt>
			<dd class="fa">We have a selection of products available for lay-by online. Please note that all items available for online lay-by are clearly marked on the individual product pages with a 'lay-by now' button.</dd>
			<dt class="fq">Can I raincheck items from Target Online?</dt>
			<dd class="fa">No, we're unable to raincheck items from Target Online. However, if you want to raincheck an item, please visit your local Target or Target Country store and they'll be able to help you out.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Payment</h3>
		<dl class="faq-items">
			<dt class="fq">What currency is used on this site?</dt>
			<dd class="fa">All orders are calculated in Australian Dollars (AUD).</dd>
			<dt class="fq">What should I do if my credit card has been declined?</dt>
			<dd class="fa">If your credit card has been declined, it's best to talk to your local bank. If they can't help you please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">Is it safe to enter my credit card details</dt>
			<dd class="fa">Yes, your information and online credit card transactions are transmitted through a secure connection using Secure Socket Layering (SSL) encryption technology. SSL locks all critical information passed from you to us, such as payment information, in an encrypted envelope, making it almost impossible for this information to be intercepted. You can identify this by looking at the URL - 'https' the 's' indicates you are in a secure area employing SSL. Your browser may also give you a pop up message that you are about to enter or leave a secure area. SSL is the system that is used by all reputable e-commerce sites. In the event of unauthorised use of your credit card, you must notify your credit card provider in accordance with its reporting rules and procedures.</dd>
			<dt class="fq">Can I pay using PayPal?</dt>
			<dd class="fa">Yes, you can pay using PayPal &ndash; just select this as your preferred payment method during the checkout process.</dd>
			<dt class="fq">Can I pay using BPAY?</dt>
			<dd class="fa">No, unfortunately at the moment, BPAY payments are not possible.</dd>
			<dt class="fq">How do I pay for my order?</dt>
			<dd class="fa">You can pay for your order via PayPal and we also accept all major credit cards including MasterCard, Amex, Diners and Visa.</dd>
			<dt class="fq">Can I use a gift card as payment?</dt>
			<dd class="fa">No, at the moment we can't accept gift cards as payment.</dd>
			<dt class="fq">Can I still order online if I don't have a credit card?</dt>
			<dd class="fa">Yes, you can pay using PayPal for your online order.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Accounts</h3>
		<dl class="faq-items">
			<dt class="fq">Do I need an account to place an order?</dt>
			<dd class="fa">No, you don't need an account to place an online order, however by creating an account with us you'll be able to:
			<ul>
				<li>shop faster</li>
				<li>manage and track your orders</li>
				<li>receive exclusive emails offers and previews.</li>
			</ul></dd>
			<dt class="fq">How do I create an account?</dt>
			<dd class="fa">To create an account:
			<ol>
				<li>Click 'Sign In'</li>
				<li>Click 'Create Account' and follow the prompts shown on the screen</li>
			</ol></dd>
			<dt class="fq">How do I update my account information?</dt>
			<dd class="fa">To update your account information:
			<ol>
				<li>'Sign In' to your account</li>
				<li>Click 'My Account'</li>
				<li>Click 'Change Details', which are found under 'My Personal Details'</li>
				<li>Update details and 'Save Changes'.</li>
			</ol>If you need help, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">How do I view my account order history?</dt>
			<dd class="fa">You can only view your order history if you have an account with us. To view account order history:
			<ol>
				<li>'Sign In' to your account</li>
				<li>Click 'My Account'</li>
				<li>Click 'My Orders' or 'My Lay-bys', which are found under 'My Order Details'.</li>
			</ol>If you need help, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">Can I change or update my email address that I use to sign in?</dt>
			<dd class="fa">Yes, to change or update the email address that you use to Sign In:
			<ol>
				<li>'Sign In' to your account</li>
				<li>Click 'My Account'</li>
				<li>Click 'Change Details', which are found under 'My Personal Details'</li>
				<li>Make the changes in the 'Email' field.</li>
				<li>'Save Changes'.</li>
			</ol>If you need help, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">How can I look up my order number?</dt>
			<dd class="fa">You can only look up your order number if you have an account with us. To look up your order number:
			<ol>
				<li>'Sign In' to your account</li>
				<li>Click 'My Account'</li>
				<li>Click 'My Orders' or 'My Lay-bys' and you'll be able to view your order number.</li>
			</ol>If you need help, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">What can I do if I forget my password?</dt>
			<dd class="fa">If you've forgotten your password, click on the 'Sign In' page and then 'Forgot your Password'. You'll then be able to enter your email address and we'll send you a link to create a new one. If you need help, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">What should I do if the site says that I don't have a username but I've placed an order in the past?</dt>
			<dd class="fa">It may be that you've created your last order as a guest, so you might need to create a new account. However, if you believe that you have already set up an account, please call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">How old do you have to be to become a Target member?</dt>
			<dd class="fa">You don't have to be a specific age to become a Target member, however a valid credit card or PayPal account will be required to buy goods online and some items might have age restrictions.</dd>
			<dt class="fq">How do I delete credit cards stored on 'My Account'?</dt>
			<dd class="fa">To delete credit cards stored on 'My Account':
			<ol>
				<li>'Sign In' to your account</li>
				<li>Click 'My Account'</li>
				<li>Click 'Manage my Credit Cards', which are found under 'My Payment Details</li>
				<li>You'll then be able to remove any of the credit card details stored in your account.</li>
			</ol>If you need help, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">I have an online shopping account and would like to manage my eNews preferences. What should I do?</dt>
			<dd class="fa">If you already have an online shopping account with us and would like to manage your preferences:
			<ol>
				<li>'Sign In' to your account</li>
				<li>Click 'My Account'</li>
				<li>Click 'eNews Preferences', which are found under 'My Personal Details'</li>
				<li>Update your preferences and 'Save Changes'.</li>
			</ol></dd>
		</dl>
	</div>
</div>