<h1>FAQs: Returns</h1>
<p>If you have any questions or need help shopping online, please drop us a line at 
<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</p>
<div class="faq-list">
	<div class="faq-grp">
		<dl class="faq-items">
			<dt class="fq">How do I return an item to you that I no longer need?</dt>
			<dd class="fa">
				<p>Home Delivery items can be returned to any Target or Target Country store for a refund in line with our 
				<a href="/help/refund-returns.html">Refund Policy</a> . You will also receive a returns slip and instructions for returning items back to our warehouse if you cannot return them to store.</p>
				<p>Click + Collect items can be returned to any Target or Target Country store for a refund in line with our 
				<a href="/help/refund-returns.html">Refund Policy</a> .</p>
				<p>Please feel free to call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST with any additional questions.</p>
			</dd>
			<dt class="fq">Can I return an item that has been sent to me as a gift?</dt>
			<dd class="fa">Yes, you'll be able to refund or exchange an item that has been sent to you as a gift, as long as you keep the tax invoice that comes with the parcel. Please refer to our 
			<a href="/help/refund-returns.html">Refund Policy</a> for full terms and conditions.</dd>
			<dt class="fq">Can I return items that I have purchased online to my local store?</dt>
			<dd class="fa">Yes, you can return items that you have purchased online to your local Target or Target Country store for an exchange and/or refund, but you must present your online tax invoice. Please note that any postage costs incurred by you will not be returned if a refund is declined or you have changed your mind. Please refer to our 
			<a href="/help/refund-returns.html">Refund Policy</a> for full terms and conditions.</dd>
			<dt class="fq">How do I return or exchange big and bulky items such as trampolines and prams?</dt>
			<dd class="fa">If you need to return an item/s that is big and bulky, please contact us at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3 class="faq-heading">Refunds</h3>
		<dl class="faq-items">
			<dt class="fq">Do you have a policy for refunds?</dt>
			<dd class="fa">Yes, you can view our 
			<a href="/help/refund-returns.html">Refund Policy</a> here.</dd>
			<dt class="fq">How will I be refunded if I return a product?</dt>
			<dd class="fa">If the refund is processed by the online customer service team, it will be returned to the same account that was listed on your order. If you're returning items to your local Target or Target Country store and you don't have a credit card, you'll be given an exchange coupon.</dd>
			<dt class="fq">How will I be refunded if I cancel an order?</dt>
			<dd class="fa">When you cancel an order, your funds that have been held by the bank will be released. This process can take up to seven days, so if you need it done quicker, please give your local bank a call to discuss.</dd>
			<dt class="fq">How long will it take to receive my refund?</dt>
			<dd class="fa">Once processed, the refund will be returned to your nominated bank account within three working days. If you haven't received it after this time, please give your local bank a call to discuss.</dd>
			<dt class="fq">Are there any products that I won't be able to return?</dt>
			<dd class="fa">No, you're able to return any items that you have purchased from our online store, but the goods will be assessed on arrival by our team who will decide whether a refund or exchange will be offered.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3 class="faq-heading">Exchanges</h3>
		<dl class="faq-items">
			<dt class="fq">Am I able to exchange an item? What's the process?</dt>
			<dd class="fa">
				<p>For Home Delivery items, you'll be able exchange an item as long as the item you need is still available. You will need to fill out the returns slip which comes with the parcel and send it, along with the item, back to us. We'll then be able to assess your items and send you the exchange as soon as possible.</p>
				<p>For Click + Collect items, you'll be able exchange an item as long as the item you need is still available. Simply bring the product and your tax invoice into any Target or Target Country Store.</p>
			</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3 class="faq-heading">Faulty products</h3>
		<dl class="faq-items">
			<dt class="fq">My item is faulty. What should I do?</dt>
			<dd class="fa">If your item is faulty, please call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST and we'll let you know what to do next.</dd>
			<dt class="fq">My item is under warranty. Do I call Target or the manufacturer?</dt>
			<dd class="fa">In the first instance, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST and we'll let you know what to do next.</dd>
			<dt class="fq">What should I do if a product is being recalled?</dt>
			<dd class="fa">If a product is being recalled, we'll contact you and let you know how to return it for a refund or exchange. Alternatively, you'll be able to return the product in store at your local Target or Target Country.</dd>
		</dl>
	</div>
</div>