<h1>Help</h1>
<h2>Need some help?</h2>
<p>If you can&rsquo;t find what you&rsquo;re looking for in our FAQ&rsquo;s and need help shopping online, please drop us a line at <a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am &ndash; 3pm AEST.</p>
<ul>
    <li><a href="/help/faqs/shop-online.html">FAQs: Shopping online</a></li>
    <li><a href="/help/faqs/delivery.html">FAQs: Delivery</a></li>
    <li><a href="/help/refund-returns.html">FAQs: Returns</a></li>
    <li><a href="/help/faqs/customer-service.html">FAQs: Customer service</a></li>
</ul>