<h1>Security Code Card Help</h1>

<h4>Visa and MasterCard&reg; Users</h4>
<p>A three digit number on the back of your card</p>
<h4>American Express Credit Card Users</h4>
<p>A four digit number on the front of your card</p>
<h4>What is the Security Code?</h4>
<p>The security code is a three to four digit number shown on your credit card which helps validate that the credit card is genuine and in your possession when you're placing an online order.</p>
<p>On Visa or MasterCard&reg;, the security code can usually be found on the back of your card.  For American Express cards, it's on the front of your card</p>
<h4>How does Security Code protect me</h4>
<p>The security code helps us verify that the order is being placed by you, the cardholder.  It is only shown on your credit card and not included in the magnetic stripe information.</p>
<h4>Do I have to provide my Security Code when shopping online?</h4>
<p>For your safety and protection, you must provide your cards security code so that your payment can be accepted and processed.  Unfortunately if your card does not have a security code, we will be unable to accept it.</p>