<h1>Terms &amp; Conditions</h1>

<p>Please take few minutes to read the below information about the legal terms and conditions that apply to your use of the Target Australia Pty Ltd website and any services or products that you order from us. If you don't agree to these terms and conditions please do not use our website.</p>
<h3>Acceptance</h3>
<p>By using this website you are bound by these terms and conditions which form a legally binding contract between you and Target Australia Pty Ltd ABN 75 004 250 944.</p>
<h3>Privacy Policy</h3>
<p>Your privacy is very important to us and we will always act to protect your information. View the full details of our <a href="/corporate/privacy.html">Privacy Policy</a>. Please note that by agreeing to these terms and conditions you will be deemed also to have read, understood and agreed to our <a href="/corporate/privacy.html">Privacy Policy</a> in its whole.</p>
<h3>Use of this website</h3>
<p>You may only use this website for lawful purposes and will not use it in a way that violates the rights of any third party.</p>
<p>You recognise and agree that the content contained within this website is only intended for your own personal, non-commercial use and you may only download, print or use content for this purpose.</p>
<p>Unless you have prior consent you must not copy, reproduce, modify, distribute, imitate, publish, commercially exploit or link to or deep-link into this website.</p>
<p>If you're a corporate customer and would like to use any content, photography or logos contained within this site for corporate purposes please contact <a href="mailto:target.online@target.com.au">target.online@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</p>
<h3>Copyright, trade marks and ownership of rights</h3>
<p>The copyright, trade marks and other intellectual property rights contained within this site are owned by or licensed to Target Australia Pty Ltd ABN 75 004 250 944 and unless authorised, the use or misuse of them is forbidden.</p>
<h3>Spam</h3>
<p>Under no circumstance will we deliberately send you an electronic message without your consent.</p>
<h3>Cookies</h3>
<p>A Cookie is a small data file that's stored by your web browser on your computer.</p>
<p>Target and our advertising management partner, DoubleClick use Cookies to help monitor your online activity and to learn which advertisements bring users to our website. The information that we collect and share from the Cookies is anonymous and not personally identifiable. It does not contain your name, address, telephone number, email address or the details of your internet service provider. For more information about DoubleClick, including how to opt out of these technologies, visit <a class="external" href="http://www.doubleclick.net/us/corporate/privacy">www.doubleclick.net/us/corporate/privacy</a>.</p>
<h3>Links to third-party sites and other websites</h3>
<p>There are links on this site to other websites that may be of interest to you. Please note that Target is not responsible for the information contained on those websites. Each site have their own terms and conditions that you should familiarise yourself with. We will not be liable for any damage caused by use of these websites.</p>
<h3>Damage to computer or other device</h3>
<p>We will take reasonable care in ensuring that our website is free from viruses or other dangerous content, however cannot guarantee that use of this website will not cause damage to your computer or other devices. It is your responsibility to make sure that you have the proper equipment and anti-virus software to use this website safely.</p>
<h3>Age restrictions</h3>
<p>By law, we cannot sell or deliver any cutting implements such as knives to anyone under the age of 16 in NSW and ACT, and under the age of 18 in Victoria. Film, video and computer games that have age restrictions will not be sold to anyone under the age stated on the product.</p>
<p>When you order these products online, you are confirming that you're of the legal age and that the information you have provided us is true and accurate.</p>
<h3>Online shopping</h3>
<p>When placing information onto our website, we will take reasonable care in ensuring that all details, prices, product images and descriptions displayed are correct at the time. While we have made every attempt to show textures, appearances and colours of our products as accurately as possible, what you see will vary depending on your monitor and computer equipment. We cannot guarantee that the product images are an exact representation of the actual products. If you're unhappy with your purchase, please review our <a href="/help/refund-returns.html">Returns Policy</a>.</p>
<h3>Orders</h3>
<p>We reserve the right to accept or reject an order for any reason due to unavailability of product; an error in the price, image or the product description; or error in your order. We only accept orders from mainland Australia and Tasmania.</p>
<h3>Product availability</h3>
<p>We will use our best endeavours to ensure products ordered are available for delivery, and in most cases will notify you where a product is unavailable prior to you completing your order. In some cases this is not possible and we may need to reject an order you have placed for a product where we establish that it is unavailable for delivery. In such cases, we will refund in full all amounts you have in respect of such unavailable product. We cannot provide rainchecks for products ordered online, and reserve the right to limit the sale of products to reasonable or normal household quantities.</p>
<h3>Variation of products and price</h3>
<p>Target may vary the prices on this website at any time, and prices are subject to change until you have paid for the products in full. Product availability and product prices may vary between Target's retail stores and those found on this website.</p>
<h3>Delivery</h3>
<p>A standard flat rate fee per delivery and re-delivery will apply. The delivery fee is  is non-refundable unless the goods fail to comply with the consumer guarantee provisions of the Australian Consumer Law.</p>
<p>We will be using Australia Post for all of our shipping needs and will only deliver to addresses within Australia. All orders will be shipped from our Melbourne Warehouse within one to two business days. Delivery lead time will vary depending on your <a href="/help/payment-delivery.html">location</a>.</p>
<p>Please note that all parcels will require a signature upon delivery. If there's no authorised person at the delivery address to sign for the parcel, then the delivery driver will leave a card and the parcel will be returned to the nearest Australia Post office for you to collect.</p>
<p>We will make every attempt to deliver goods within the estimated timeframe however please beware that delays may occur due to unforeseen circumstances or factors that are beyond our control. Find out more about our <a href="/help/payment-delivery.html">delivery process</a>.</p>
<h3>Returns</h3>
<p>Please refer to our <a href="/help/refund-returns.html">Returns Policy</a>.</p>
<h3>Payment</h3>
<p>All orders are calculated in Australian Dollars (AUD). You must pay for your products purchased on this website at the time of placing an order.</p>
<p>We only accept payment by MasterCard, Amex, Diners and Visa.</p>
<p>We will always act to protect the details of your payment and purchase however in the absence of negligence, Target will not be responsible for any loss or damage that you may suffer if a third party acquires unauthorised access to data that you have provided to us when ordering from our website.</p>
<p>Our servers will help secure your personal information with up-to-date firewalls and encryption techniques during the ordering and purchase process. A padlock or key will also be visible in the bottom of your web browser.</p>
<h3>Damaged products</h3>
<p>Please refer to our <a href="/help/refund-returns.html">Returns Policy</a>.</p>
<h3>Cancelling an order</h3>
<p>You can cancel your online order provided that it has not been dispatched. Please contact us</p>
<p>We will attempt to cancel your order without delay however occasionally it may not be possible to stop an order from being dispatched.</p>
<p>If your order has been dispatched please refer to our <a href="/help/refund-returns.html">Returns Policy</a>.</p>
<h3>Password and account security</h3>
<p>It is your responsibility in maintaining the confidentiality of your password and account and all activities that take place under your password or account. If you will be using a shared computer ensure that you logout of your account at the end of each session.</p>
<p>If you believe that there has been a security breach or misuse of your password or account, please let us know immediately.</p>
<p>Target will not be liable for any loss or damage that may occur as a result of your failure to comply with this clause.</p>
<h3>Website changes</h3>
<p>We may change or update this website and the terms and conditions at any time by giving you notice as outlined below. Your use of this website after notice will constitute your deemed acceptance of such changes.</p>
<h3>Website unavailability</h3>
<p>We will not accept responsibility if this site is unavailable to you as a result of computer downtime, malfunction or other factor/s beyond our control.</p>
<h3>Gift cards</h3>
<p>Gift cards cannot be refunded or returned, unless required by law. They will also not be exchanged for another denomination or tender such as cash. Please note that Target is not responsible for and is unable to replace gift cards which are lost or stolen. View the full <a class="external" href="https://onlineshopping.target.com.au/lightwindow/conditions2.html">Gift Card Terms of Use</a>.</p>
<h3>Competitions</h3>
<p>We run a variety of competitions and promotions throughout the year, each with their own separate terms and conditions of entry. Please carefully read these terms and conditions of entry before entering or participating in a competition or promotion.</p>
<h3>Correction of errors</h3>
<p>Occasionally there may be content on this website that contains typographical errors, inaccuracies or oversights relating to a product description, product image, price, promotion, special offer or availability. In this circumstance, we have the right to amend any typographical errors, inaccuracies or oversights and to correct or update content or cancel orders at any time without prior notice. Please note that this also applies to orders that have been submitted.</p>
<p>If you believe that there is a typographical error, inaccuracy or oversight on this website please contact us at <a href="mailto:target.online@target.com.au">target.online@target.com.au</a></p>
<h3>Notices</h3>
<p>Target may give notice to you by electronic mail, conventional mail to your address contained in your order, or notice posted on the Target website.  You may give notice to Target by electronic mailed to <a href="mailto:target.online@target.com.au">target.online@target.com.au</a></p>
<h3>Termination</h3>
<p>If you breach these terms and conditions, we reserve the right to immediately suspend, terminate or limit your access to this site. A notice as outlined above will be sent to you.</p>
<h3>Disclaimer/Limitation of Liability</h3>
<p>Your use of this website is at your own discretion. Target Australia Pty Ltd (i) makes no warranties or representations about this website or any of the content; (ii) accepts no responsibility for any loss suffered by you or anyone else in connection with the use of this website or content and; (iii) does not guarantee that this website will not cause damage or is free from viruses or any other defects or errors.</p>
<p>We exclude, to the maximum extent permitted by law, any liability which may arise as a result of the use of this website or the content contained within it. Where liability cannot be excluded, any liability incurred by Target Australia in relation to the use of this website or the content, is limited as provided under the Australian Consumer Law.</p>
<p>We will not be held responsible or liable for any direct or indirect loss or damages caused or alleged to have been caused by your use, of, or reliance on, any content, goods or services available on an external site. Any concerns regarding an external link, should be directed to its responsible site administrator or webmaster.</p>
<h3>Governing law</h3>
<p>Target operates this website from its offices in Australia. The laws of the State of Victoria govern these Terms and Conditions.</p>
<h3>Comments, feedback and other</h3>
<p>We're always happy to hear from you and welcome your comments, suggestions or feedback. Please drop us a line at <a href="mailto:target.online@target.com.au">target.online@target.com.au</a></p>