<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk>
<html>
<![CDATA[
	<body>
		<object data="${model.URL}" type="${model.mime}" height="800" width="1000" >
		  ${c:l('tgtcs.plugin.required')} : <a href="${model.URL}">${c:l('tgtcs.order.invoice.download')}</a>
		</object>
	</body>
]]>
</html>
</zk>
