<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td width="50%" class="structureViewSection">
					<cockpit code="KioskNavigationPrimary" />
				</td>
				<td width="50%" class="structureViewSection">
					<cockpit code="KioskNavigationSecondary" />
				</td>
			</tr>

			<!-- Content -->

			<tr>
				<td colspan="2" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Main" />
				</td>
			</tr>
			<tr>
				<td colspan="2" height="200px" class="structureViewSection" style="vertical-align:middle;">
					<div>Search Bar</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Supplement" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>