<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="3" class="structureViewSection">
					<cockpit code="UtilityMenu" />
					<cockpit code="MyAccountMenu" />
					<cockpit code="SiteLogo" />
					<cockpit code="MiniCart" />
					<cockpit code="NavigationBar" />
					<cockpit code="BelowNavigationBar" />
				</td>
			</tr>
			<tr>
				<td colspan="3" height="58px" style="vertical-align:middle;" class="structureViewSection">
					<div>Breadcrumb</div>
				</td>
			</tr>
			<tr>
				<td width="20%" rowspan="1" height="243px" class="structureViewSection" style="vertical-align:top;">
					<cockpit code="SideContent" />
				</td>
				<td colspan="2" height="343px" width="85%" class="structureViewSection" style="vertical-align:top;">
					<div>Checkout summary Data</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" class="structureViewSection">
					<cockpit code="FooterLinksColumn1" />
					<cockpit code="FooterLinksColumn2" />
					<cockpit code="FooterLinksColumn3" />
					<cockpit code="FooterSupportContainer" />
					<cockpit code="FooterUtilityLeftContainer" />
					<cockpit code="FooterUtilityRightContainer" />
					<cockpit code="FooterLegalContainer" />
					<cockpit code="FooterSocialContainer" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>