<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="SitewideNotification" />
				</td>
			</tr>		
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="UtilityMenu" />
					<cockpit code="MyAccountMenu" />
					<cockpit code="SiteLogo" />
					<cockpit code="MiniCart" />
					<cockpit code="NavigationBar" />
					<cockpit code="BelowNavigationBar" />
				</td>
			</tr>
			<tr>
				<td colspan="5" height="58" style="vertical-align:middle;" class="structureViewSection">
					<div>Breadcrumb</div>
				</td>
			</tr>
			<tr>
				<td width="15%" rowspan="2" class="structureViewSection">
					<cockpit code="SideContent" />
				</td>
				<td width="85%" height="212px" colspan="4" class="structureViewSection">
					<cockpit code="MiddleContent" />
				</td>
			</tr>
			<tr>
				<td width="85%" colspan="5" class="structureViewSection">
					<cockpit code="BottomContent" />
				</td>
			</tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="FooterLinksColumn1" />
					<cockpit code="FooterLinksColumn2" />
					<cockpit code="FooterLinksColumn3" />
					<cockpit code="FooterSupportContainer" />
					<cockpit code="FooterUtilityLeftContainer" />
					<cockpit code="FooterUtilityRightContainer" />
					<cockpit code="FooterLegalContainer" />
					<cockpit code="FooterSocialContainer" />
				</td>
			</tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="FooterSnippet" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>