<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="SitewideNotification" />
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="CustomerFeedback" />
				</td>
			</tr>
			<tr>
				<td colspan="2" width="50%" class="structureViewSection">
					<cockpit code="SmartAppBannerAndroid" />
				</td>
				<td colspan="2" width="50%" class="structureViewSection">
					<cockpit code="SmartAppBannerApple" />
				</td>
			</tr>		
			<tr>
				<td width="25%" class="structureViewSection">
					<cockpit code="UtilityMobile" />
				</td>
				<td width="25%" class="structureViewSection">
					<cockpit code="MVT" />
				</td>
				<td width="25%" class="structureViewSection">
					<cockpit code="UtilityMenu" />
				</td>
				<td width="25%" class="structureViewSection">
					<cockpit code="MyAccountMenu" />
				</td>
			</tr>
			<tr>
				<td width="25%" class="structureViewSection">
					<cockpit code="SiteLogo" />
				</td>
				<td width="50%" colspan="2" class="structureViewSection">Search form</td>
				<td width="25%" class="structureViewSection">
					<cockpit code="MiniCart" />
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="NavigationBar" />
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="BelowNavigationBar" />
				</td>
			</tr>
			<tr>
				<td colspan="4" height="30px" class="structureViewSection">
					<div>Breadcrumb</div>
				</td>
			</tr>
			<tr>
				<td colspan="4" height="30px" class="structureViewSection">
					<cockpit code="ListerChampion" />
				</td>
			</tr>


			<tr>
				<td colspan="4" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Main" />
				</td>
			</tr>

			<tr>
				<td colspan="4" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Supplement" />
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="Addendum" />
				</td>
			</tr>

			<tr>
				<td colspan="3" class="structureViewSection">
					<table width="100%" cellspacing="0" cellpadding="0">
						<tr>
							<td class="structureViewSection">
								<cockpit code="FooterLinksColumn1" />
							</td>
							<td class="structureViewSection">
								<cockpit code="FooterLinksColumn2" />
							</td>
							<td class="structureViewSection">
								<cockpit code="FooterLinksColumn3" />
							</td>
						</tr>
					</table>
				</td>
				<td class="structureViewSection">
					<cockpit code="FooterSupportContainer" />
				</td>
			</tr>
			<tr>
				<td colspan="3" class="structureViewSection">
					<cockpit code="FooterLegalContainer" />
				</td>
				<td>
					<cockpit code="FooterSocialContainer" />
				</td>
			</tr>
			<tr>
				<td colspan="3" class="structureViewSection">
					<cockpit code="FooterUtilityLeftContainer" />
				</td>
				<td class="structureViewSection">
					<cockpit code="FooterUtilityRightContainer" />
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="FooterSnippet" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>