<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="EmailMarketingContentSlot1" />
				</td>
			</tr>
			<tr>
				<td colspan="2" height="89px" class="structureViewSection" style="vertical-align:middle;">
					<div>Email Content</div>
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="EmailMarketingContentSlot2" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>