<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="SitewideNotification" />
				</td>
			</tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="UtilityMenu" />
					<cockpit code="MyAccountMenu" />
					<cockpit code="SiteLogo" />
					<cockpit code="MiniCart" />
					<cockpit code="NavigationBar" />
					<cockpit code="BelowNavigationBar" />
				</td>
			</tr>
			<tr>
				<td colspan="5" height="58px" style="vertical-align:middle;" class="structureViewSection">
					<div>Breadcrumb</div>
				</td>
			</tr>
			<tr>
				<td colspan="5" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section1" />
				</td>
			</tr>
			<tr>
				<td width="20%" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2A" />
				</td>
				<td width="80%" colspan="4" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2B" />
				</td>
			</tr>
			<tr>
				<td colspan="5" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section3" />
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="Addendum" />
				</td>
			</tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="FooterLinksColumn1" />
					<cockpit code="FooterLinksColumn2" />
					<cockpit code="FooterLinksColumn3" />
					<cockpit code="FooterSupportContainer" />
					<cockpit code="FooterUtilityLeftContainer" />
					<cockpit code="FooterUtilityRightContainer" />
					<cockpit code="FooterLegalContainer" />
					<cockpit code="FooterSocialContainer" />
				</td>
			</tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="FooterSnippet" />
				</td>
			</tr>

		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>