<h1 class="heading">Newsletter Signup</h1>
<p>Register now for the Target newsletter and be the first to hear about Target discounts, offers, special events, online only sales and more. You can also subscribe to the newsletter when you <a href="/login">register for a Target Online Account.</a></p>