<h2>Explore</h2>
<ul>
	<li>
		<a href="http://target.dynamiccatalogue.com.au/portal/">View our latest catalogue</a>
		<span class="iconf iconf-right-arrow-small" aria-hidden="true"></span>
	</li>
	<li>
		<a href="/store-finder">Find a store near you</a>
		<span class="iconf iconf-right-arrow-small" aria-hidden="true"></span>
	</li>
</ul>